In [2]:
from bs4 import BeautifulSoup
import requests
import json
import pandas as pd
import numpy as np
import os

import re
import io

import psycopg2
from psycopg2.extensions import register_adapter, AsIs
register_adapter(np.int64, AsIs)
#from config import config
from configparser import ConfigParser

In [3]:
# url for all games played on date - https://www.basketball-reference.com/boxscores/?month=3&day=15&year=2024
# url for box score of specific game - https://www.basketball-reference.com/boxscores/202403150CHO.html

# Which info do we need?
# 1. How many games played
# 2. Final Score for each
# 3. Winner / Loser for each

In [4]:
games_on_date_test_url = 'https://www.basketball-reference.com/boxscores/?month=3&day=15&year=2024'

games_on_date_test_page = requests.get(games_on_date_test_url,params={
      'render_js': True})    

game_on_date_test_soup = BeautifulSoup(games_on_date_test_page.text, 'lxml')

FeatureNotFound: Couldn't find a tree builder with the features you requested: lxml. Do you need to install a parser library?

In [4]:
game_on_date_test_soup.find_all('tr')[0].find('a', href=re.compile('/boxscores/'))

In [5]:
game_on_date_test_soup.find_all('tr', {'class':['winner', 'loser']})[0].find('a', href=re.compile('/boxscores/'))

In [6]:
for i in range(len(game_on_date_test_soup.find_all('tr', {'class':['winner', 'loser']}))):
    try:
        print(game_on_date_test_soup.find_all('tr', {'class':['winner', 'loser']})[i].find('a', href=re.compile('/boxscores/')).attrs['href'].split('/')[2].split('.')[0][-3:])
    except:
        pass

CHO
DET
NOP
SAS
TOR
UTA

In [7]:
print(game_on_date_test_soup)

<!DOCTYPE html>
<html class="no-js" data-root="/home/bbr/deploy/www" data-version="klecko-" lang="en">
<head>
<meta charset="utf-8"/>
<meta content="ie=edge" http-equiv="x-ua-compatible"/>
<meta content="width=device-width, initial-scale=1.0, maximum-scale=2.0" name="viewport"/>
<link href="https://cdn.ssref.net/req/202501061" rel="dns-prefetch"/>
<script>
/* https://docs.osano.com/hc/en-us/articles/22469433444372-Google-Consent-Mode-v2  */
  window.dataLayer = window.dataLayer ||[];
      function gtag(){dataLayer.push(arguments);}
      gtag('consent','default',{
        'ad_storage':'denied',
        'analytics_storage':'denied',
        'ad_user_data':'denied',
        'ad_personalization':'denied',
        'personalization_storage':'denied',
        'functionality_storage':'granted',
        'security_storage':'granted',
        'wait_for_update': 500
      });
      gtag("set", "ads_data_redaction", true);
</script>
<script src="https://cmp.osano.com/16CGnCU8UtNhM14sg/12669873-8cf8-41e2-be1f-1cb803cbffe0/osano.js"></script>
<style>.osano-cm-widget{display: none;}</style>
<title>NBA Games Played on March 15, 2024 | Basketball-Reference.com</title>
<meta content="Get the list of all the NBA games played on March 15, 2024 and more on Basketball-Reference.com" name="Description"/>
<link href="https://www.basketball-reference.com/boxscores/" rel="canonical"/>
<!-- include:start ="/inc/klecko_header_bbr.html_f" -->
<!-- no:cookie fast load the css.           -->
<script>function gup(n) {n = n.replace(/[\[]/, '\\[').replace(/[\]]/, '\\]'); var r = new RegExp('[\\?&]'+n+'=([^&#]*)'); var re = r.exec(location.search);   return re === null?'':decodeURIComponent(re[1].replace(/\+/g,' '));}; document.srdev = gup('srdev')</script>
<script>if (!document.srdev && (location.hostname === 'sup.fb.srdevel.com')) { document.srdev = 'aw'; }/* sf: hardcode this in for sup.fb.srdevel.com for testing purposes. */</script>
<link crossorigin="" href="https://cdn.ssref.net" rel="preconnect"/>
<link crossorigin="" href="https://www.google-analytics.com" rel="preconnect"/>
<link crossorigin="" href="https://www.googletagservices.com" rel="preconnect"/>
<link as="script" crossorigin="" href="https://cdn.ssref.net/req/202501061/js/bbr/sr-min.js" rel="preload"/>
<link as="fetch" crossorigin="" href="https://cdn.ssref.net/req/202501061/icons/sr_icons-min.svg?bbr" rel="preload"/>
<link as="fetch" crossorigin="" href="https://www.basketball-reference.com/short/inc/main_nav_menu.json" rel="preload"/>
<link as="image" crossorigin="" href="https://cdn.ssref.net/req/201604190/images/chosen-sprite.png" rel="preload"/>
<link as="style" crossorigin="" href="https://cdn.ssref.net/req/202501061/css/bbr/sr-min.css" rel="preload"/>
<!-- CSS start -->

In [8]:
game_on_date_test_soup.find_all('a', href=re.compile('/boxscores/'))

[<a href="/boxscores/">Scores</a>,
 <a href="/boxscores/" itemprop="item"><span itemprop="name">Box Scores</span></a>,
 <a class="button2 prev" href="/boxscores/?month=3&amp;day=14&amp;year=2024">Mar 14, 2024</a>,
 <a class="button2 next" href="/boxscores/?month=3&amp;day=16&amp;year=2024">Mar 16, 2024</a>,
 <a href="/boxscores/202403150CHO.html">F<span class="no_mobile">inal</span></a>,
 <a href="/boxscores/202403150CHO.html">Box Score</a>,
 <a href="/boxscores/pbp/202403150CHO.html">Play-By-Play</a>,
 <a href="/boxscores/shot-chart/202403150CHO.html">Shot Chart</a>,
 <a href="/boxscores/202403150DET.html">F<span class="no_mobile">inal</span></a>,
 <a href="/boxscores/202403150DET.html">Box Score</a>,
 <a href="/boxscores/pbp/202403150DET.html">Play-By-Play</a>,
 <a href="/boxscores/shot-chart/202403150DET.html">Shot Chart</a>,
 <a href="/boxscores/202403150NOP.html">F<span class="no_mobile">inal</span></a>,
 <a href="/boxscores/202403150NOP.html">Box Score</a>,
 <a href="/boxscores/pbp/202403150NOP.html">Play-By-Play</a>,
 <a href="/boxscores/shot-chart/202403150NOP.html">Shot Chart</a>,
 <a href="/boxscores/202403150SAS.html">F<span class="no_mobile">inal</span></a>,
 <a href="/boxscores/202403150SAS.html">Box Score</a>,
 <a href="/boxscores/pbp/202403150SAS.html">Play-By-Play</a>,
 <a href="/boxscores/shot-chart/202403150SAS.html">Shot Chart</a>,
 <a href="/boxscores/202403150TOR.html">F<span class="no_mobile">inal</span></a>,
 <a href="/boxscores/202403150TOR.html">Box Score</a>,
 <a href="/boxscores/pbp/202403150TOR.html">Play-By-Play</a>,
 <a href="/boxscores/shot-chart/202403150TOR.html">Shot Chart</a>,
 <a href="/boxscores/202403150UTA.html">F<span class="no_mobile">inal</span></a>,
 <a href="/boxscores/202403150UTA.html">Box Score</a>,
 <a href="/boxscores/pbp/202403150UTA.html">Play-By-Play</a>,
 <a href="/boxscores/shot-chart/202403150UTA.html">Shot Chart</a>,
 <a href="/boxscores/" itemprop="item"><span itemprop="name">Box Scores</span></a>,
 <a href="/boxscores/">NBA Scores</a>,
 <a href="/boxscores/">Yesterday's Games</a>,
 <a href="/boxscores/">Scores from any date in BAA/NBA or ABA history</a>]

In [9]:
# winning team score
print(int(game_on_date_test_soup.find('tbody').find_all('td')[1].contents[0]))

# winning team name
print(game_on_date_test_soup.find('tbody').find_all('td')[0].find('a').attrs['href'].split('/')[2])

# losing team score
print(int(game_on_date_test_soup.find('tbody').find_all('td')[4].contents[0]))

# losing team name
print(game_on_date_test_soup.find('tbody').find_all('td')[3].find('a').attrs['href'].split('/')[2])

107
PHO
96
CHO

In [10]:
print(int(game_on_date_test_soup.find_all('tbody')[1].find_all('td')[1].contents[0]))

28

In [11]:
print(game_on_date_test_soup.find_all('tbody'))

[<tbody>
<tr class="winner">
<td><a href="/teams/PHO/2024.html">Phoenix</a></td>
<td class="right">107</td>
<td class="right gamelink">
<a href="/boxscores/202403150CHO.html">F<span class="no_mobile">inal</span></a>
</td>
</tr>
<tr class="loser">
<td><a href="/teams/CHO/2024.html">Charlotte</a></td>
<td class="right">96</td>
<td class="right">
			</td>
</tr>
</tbody>, <tbody>
<tr>
<td><a href="/teams/PHO/2024.html">Phoenix</a> </td>
<td class="center">28</td><td class="center">26</td><td class="center">38</td><td class="center">15</td>
</tr>
<tr>
<td><a href="/teams/CHO/2024.html">Charlotte</a> </td>
<td class="center">26</td><td class="center">19</td><td class="center">22</td><td class="center">29</td>
</tr>
</tbody>, <tbody>
<tr>
<td><strong>PTS</strong></td>
<td>2 tied</td>
<td class="right">21</td>
</tr>
<tr>
<td><strong>TRB</strong></td>
<td><a href="/players/n/nurkiju01.html">J. Nurkić</a>-PHO</td>
<td class="right">21</td>
</tr>
</tbody>, <tbody>
<tr class="winner">
<td><a href="/teams/MIA/2024.html">Miami</a></td>
<td class="right">108</td>
<td class="right gamelink">
<a href="/boxscores/202403150DET.html">F<span class="no_mobile">inal</span></a>
</td>
</tr>
<tr class="loser">
<td><a href="/teams/DET/2024.html">Detroit</a></td>
<td class="right">95</td>
<td class="right">
			</td>
</tr>
</tbody>, <tbody>
<tr>
<td><a href="/teams/MIA/2024.html">Miami</a> </td>
<td class="center">27</td><td class="center">29</td><td class="center">28</td><td class="center">24</td>
</tr>
<tr>
<td><a href="/teams/DET/2024.html">Detroit</a> </td>
<td class="center">28</td><td class="center">26</td><td class="center">18</td><td class="center">23</td>
</tr>
</tbody>, <tbody>
<tr>
<td><strong>PTS</strong></td>
<td><a href="/players/f/fontesi01.html">S. Fontecchio</a>-DET</td>
<td class="right">24</td>
</tr>
<tr>
<td><strong>TRB</strong></td>
<td><a href="/players/d/durenja01.html">J. Duren</a>-DET</td>
<td class="right">17</td>
</tr>
</tbody>, <tbody>
<tr class="loser">
<td><a href="/teams/LAC/2024.html">LA Clippers</a></td>
<td class="right">104</td>
<td class="right gamelink">
<a href="/boxscores/202403150NOP.html">F<span class="no_mobile">inal</span></a>
</td>
</tr>
<tr class="winner">
<td><a href="/teams/NOP/2024.html">New Orleans</a></td>
<td class="right">112</td>
<td class="right">
			</td>
</tr>
</tbody>, <tbody>
<tr>
<td><a href="/teams/LAC/2024.html">LA Clippers</a> </td>
<td class="center">22</td><td class="center">22</td><td class="center">36</td><td class="center">24</td>
</tr>
<tr>
<td><a href="/teams/NOP/2024.html">New Orleans</a> </td>
<td class="center">20</td><td class="center">30</td><td class="center">32</td><td class="center">30</td>
</tr>
</tbody>, <tbody>
<tr>
<td><strong>PTS</strong></td>
<td><a href="/players/w/willizi01.html">Z. Williamson</a>-NOP</td>
<td class="right">34</td>
</tr>
<tr>
<td><strong>TRB</strong></td>
<td><a href="/players/z/zubaciv01.html">I. Zubac</a>-LAC</td>
<td class="right">11</td>
</tr>
</tbody>, <tbody>
<tr class="winner">
<td><a href="/teams/DEN/2024.html">Denver</a></td>
<td class="right">117</td>
<td class="right gamelink">
<a href="/boxscores/202403150SAS.html">F<span class="no_mobile">inal</span></a>
</td>
</tr>
<tr class="loser">
<td><a href="/teams/SAS/2024.html">San Antonio</a></td>
<td class="right">106</td>
<td class="right">
			</td>
</tr>
</tbody>, <tbody>
<tr>
<td><a href="/teams/DEN/2024.html">Denver</a> </td>
<td class="center">37</td><td class="center">21</td><td class="center">28</td><td class="center">31</td>
</tr>
<tr>
<td><a href="/teams/SAS/2024.html">San Antonio</a> </td>
<td class="center">18</td><td class="center">31</td><td class="center">30</td><td class="center">27</td>
</tr>
</tbody>, <tbody>
<tr>
<td><strong>PTS</strong></td>
<td><a href="/players/j/jokicni01.html">N. Jokić</a>-DEN</td>
<td class="right">31</td>
</tr>
<tr>
<td><strong>TRB</strong></td>
<td><a href="/players/m/murraja01.html">J. Murray</a>-DEN</td>
<td class="right">10</td>
</tr>
</tbody>, <tbody>
<tr class="winner">
<td><a href="/teams/ORL/2024.html">Orlando</a></td>
<td class="right">113</td>
<td class="right gamelink">
<a href="/boxscores/202403150TOR.html">F<span class="no_mobile">inal</span></a>
</td>
</tr>
<tr class="loser">
<td><a href="/teams/TOR/2024.html">Toronto</a></td>
<td class="right">103</td>
<td class="right">
			</td>
</tr>
</tbody>, <tbody>
<tr>
<td><a href="/teams/ORL/2024.html">Orlando</a> </td>
<td class="center">24</td><td class="center">26</td><td class="center">34</td><td class="center">29</td>
</tr>
<tr>
<td><a href="/teams/TOR/2024.html">Toronto</a> </td>
<td class="center">27</td><td class="center">21</td><td class="center">25</td><td class="center">30</td>
</tr>
</tbody>, <tbody>
<tr>
<td><strong>PTS</strong></td>
<td><a href="/players/t/trentga02.html">G. Trent</a>-TOR</td>
<td class="right">31</td>
</tr>
<tr>
<td><strong>TRB</strong></td>
<td>2 tied</td>
<td class="right">9</td>
</tr>
</tbody>, <tbody>
<tr class="loser">
<td><a href="/teams/ATL/2024.html">Atlanta</a></td>
<td class="right">122</td>
<td class="right gamelink">
<a href="/boxscores/202403150UTA.html">F<span class="no_mobile">inal</span></a>
</td>
</tr>
<tr class="winner">
<td><a href="/teams/UTA/2024.html">Utah</a></td>
<td class="right">124</td>
<td class="right">
			</td>
</tr>
</tbody>, <tbody>
<tr>
<td><a href="/teams/ATL/2024.html">Atlanta</a> </td>
<td class="center">28</td><td class="center">34</td><td class="center">34</td><td class="center">26</td>
</tr>
<tr>
<td><a href="/teams/UTA/2024.html">Utah</a> </td>
<td class="center">34</td><td class="center">27</td><td class="center">37</td><td class="center">26</td>
</tr>
</tbody>, <tbody>
<tr>
<td><strong>PTS</strong></td>
<td><a href="/players/m/murrade01.html">D. Murray</a>-ATL</td>
<td class="right">33</td>
</tr>
<tr>
<td><strong>TRB</strong></td>
<td><a href="/players/c/capelca01.html">C. Capela</a>-ATL</td>
<td class="right">15</td>
</tr>
</tbody>, <tbody><tr class="full_table"><th class="left" csk="0.212" data-stat="team_name" scope="row"><a href="/teams/BOS/2024.html">Boston Celtics</a>*</th><td class="right" data-stat="wins">52</td><td class="right" data-stat="losses">14</td><td class="right" data-stat="win_loss_pct">.788</td><td class="right" data-stat="gb">—</td><td class="right" data-stat="pts_per_g">120.9</td><td class="right" data-stat="opp_pts_per_g">109.7</td></tr>
<tr class="full_table"><th class="left" csk="0.358" data-stat="team_name" scope="row"><a href="/teams/MIL/2024.html">Milwaukee Bucks</a>*</th><td class="right" data-stat="wins">43</td><td class="right" data-stat="losses">24</td><td class="right" data-stat="win_loss_pct">.642</td><td class="right" data-stat="gb">9.5</td><td class="right" data-stat="pts_per_g">120.4</td><td class="right" data-stat="opp_pts_per_g">117.1</td></tr>
<tr class="full_table"><th class="left" csk="0.364" data-stat="team_name" scope="row"><a href="/teams/CLE/2024.html">Cleveland Cavaliers</a>*</th><td class="right" data-stat="wins">42</td><td class="right" data-stat="losses">24</td><td class="right" data-stat="win_loss_pct">.636</td><td class="right" data-stat="gb">10.0</td><td class="right" data-stat="pts_per_g">113.8</td><td class="right" data-stat="opp_pts_per_g">109.4</td></tr>
<tr class="full_table"><th class="left" csk="0.409" data-stat="team_name" scope="row"><a href="/teams/NYK/2024.html">New York Knicks</a>*</th><td class="right" data-stat="wins">39</td><td class="right" data-stat="losses">27</td><td class="right" data-stat="win_loss_pct">.591</td><td class="right" data-stat="gb">13.0</td><td class="right" data-stat="pts_per_g">112.2</td><td class="right" data-stat="opp_pts_per_g">108.1</td></tr>
<tr class="full_table"><th class="left" csk="0.418" data-stat="team_name" scope="row"><a href="/teams/ORL/2024.html">Orlando Magic</a>*</th><td class="right" data-stat="wins">39</td><td class="right" data-stat="losses">28</td><td class="right" data-stat="win_loss_pct">.582</td><td class="right" data-stat="gb">13.5</td><td class="right" data-stat="pts_per_g">110.7</td><td class="right" data-stat="opp_pts_per_g">109.2</td></tr>
<tr class="full_table"><th class="left" csk="0.448" data-stat="team_name" scope="row"><a href="/teams/IND/2024.html">Indiana Pacers</a>*</th><td class="right" data-stat="wins">37</td><td class="right" data-stat="losses">30</td><td class="right" data-stat="win_loss_pct">.552</td><td class="right" data-stat="gb">15.5</td><td class="right" data-stat="pts_per_g">123.1</td><td class="right" data-stat="opp_pts_per_g">121.4</td></tr>
<tr class="full_table"><th class="left" csk="0.455" data-stat="team_name" scope="row"><a href="/teams/MIA/2024.html">Miami Heat</a>*</th><td class="right" data-stat="wins">36</td><td class="right" data-stat="losses">30</td><td class="right" data-stat="win_loss_pct">.545</td><td class="right" data-stat="gb">16.0</td><td class="right" data-stat="pts_per_g">110.1</td><td class="right" data-stat="opp_pts_per_g">109.6</td></tr>
<tr class="full_table"><th class="left" csk="0.455" data-stat="team_name" scope="row"><a href="/teams/PHI/2024.html">Philadelphia 76ers</a>*</th><td class="right" data-stat="wins">36</td><td class="right" data-stat="losses">30</td><td class="right" data-stat="win_loss_pct">.545</td><td class="right" data-stat="gb">16.0</td><td class="right" data-stat="pts_per_g">115.2</td><td class="right" data-stat="opp_pts_per_g">112.9</td></tr>
<tr class="full_table"><th class="left" csk="0.522" data-stat="team_name" scope="row"><a href="/teams/CHI/2024.html">Chicago Bulls</a></th><td class="right" data-stat="wins">32</td><td class="right" data-stat="losses">35</td><td class="right" data-stat="win_loss_pct">.478</td><td class="right" data-stat="gb">20.5</td><td class="right" data-stat="pts_per_g">111.8</td><td class="right" data-stat="opp_pts_per_g">113.9</td></tr>
<tr class="full_table"><th class="left" csk="0.561" data-stat="team_name" scope="row"><a href="/teams/ATL/2024.html">Atlanta Hawks</a></th><td class="right" data-stat="wins">29</td><td class="right" data-stat="losses">37</td><td class="right" data-stat="win_loss_pct">.439</td><td class="right" data-stat="gb">23.0</td><td class="right" data-stat="pts_per_g">119.4</td><td class="right" data-stat="opp_pts_per_g">121.3</td></tr>
<tr class="full_table"><th class="left" csk="0.606" data-stat="team_name" scope="row"><a href="/teams/BRK/2024.html">Brooklyn Nets</a></th><td class="right" data-stat="wins">26</td><td class="right" data-stat="losses">40</td><td class="right" data-stat="win_loss_pct">.394</td><td class="right" data-stat="gb">26.0</td><td class="right" data-stat="pts_per_g">111.8</td><td class="right" data-stat="opp_pts_per_g">113.9</td></tr>
<tr class="full_table"><th class="left" csk="0.657" data-stat="team_name" scope="row"><a href="/teams/TOR/2024.html">Toronto Raptors</a></th><td class="right" data-stat="wins">23</td><td class="right" data-stat="losses">44</td><td class="right" data-stat="win_loss_pct">.343</td><td class="right" data-stat="gb">29.5</td><td class="right" data-stat="pts_per_g">113.9</td><td class="right" data-stat="opp_pts_per_g">118.1</td></tr>
<tr class="full_table"><th class="left" csk="0.746" data-stat="team_name" scope="row"><a href="/teams/CHO/2024.html">Charlotte Hornets</a></th><td class="right" data-stat="wins">17</td><td class="right" data-stat="losses">50</td><td class="right" data-stat="win_loss_pct">.254</td><td class="right" data-stat="gb">35.5</td><td class="right" data-stat="pts_per_g">106.9</td><td class="right" data-stat="opp_pts_per_g">116.8</td></tr>
<tr class="full_table"><th class="left" csk="0.818" data-stat="team_name" scope="row"><a href="/teams/DET/2024.html">Detroit Pistons</a></th><td class="right" data-stat="wins">12</td><td class="right" data-stat="losses">54</td><td class="right" data-stat="win_loss_pct">.182</td><td class="right" data-stat="gb">40.0</td><td class="right" data-stat="pts_per_g">112.1</td><td class="right" data-stat="opp_pts_per_g">120.3</td></tr>
<tr class="full_table"><th class="left" csk="0.833" data-stat="team_name" scope="row"><a href="/teams/WAS/2024.html">Washington Wizards</a></th><td class="right" data-stat="wins">11</td><td class="right" data-stat="losses">55</td><td class="right" data-stat="win_loss_pct">.167</td><td class="right" data-stat="gb">41.0</td><td class="right" data-stat="pts_per_g">114.2</td><td class="right" data-stat="opp_pts_per_g">123.9</td></tr>
</tbody>, <tbody><tr class="full_table"><th class="left" csk="0.299" data-stat="team_name" scope="row"><a href="/teams/DEN/2024.html">Denver Nuggets</a>*</th><td class="right" data-stat="wins">47</td><td class="right" data-stat="losses">20</td><td class="right" data-stat="win_loss_pct">.701</td><td class="right" data-stat="gb">—</td><td class="right" data-stat="pts_per_g">114.8</td><td class="right" data-stat="opp_pts_per_g">110.3</td></tr>
<tr class="full_table"><th class="left" csk="0.303" data-stat="team_name" scope="row"><a href="/teams/OKC/2024.html">Oklahoma City Thunder</a>*</th><td class="right" data-stat="wins">46</td><td class="right" data-stat="losses">20</td><td class="right" data-stat="win_loss_pct">.697</td><td class="right" data-stat="gb">0.5</td><td class="right" data-stat="pts_per_g">120.8</td><td class="right" data-stat="opp_pts_per_g">113.1</td></tr>
<tr class="full_table"><th class="left" csk="0.318" data-stat="team_name" scope="row"><a href="/teams/MIN/2024.html">Minnesota Timberwolves</a>*</th><td class="right" data-stat="wins">45</td><td class="right" data-stat="losses">21</td><td class="right" data-stat="win_loss_pct">.682</td><td class="right" data-stat="gb">1.5</td><td class="right" data-stat="pts_per_g">113.2</td><td class="right" data-stat="opp_pts_per_g">106.7</td></tr>
<tr class="full_table"><th class="left" csk="0.364" data-stat="team_name" scope="row"><a href="/teams/LAC/2024.html">Los Angeles Clippers</a>*</th><td class="right" data-stat="wins">42</td><td class="right" data-stat="losses">24</td><td class="right" data-stat="win_loss_pct">.636</td><td class="right" data-stat="gb">4.5</td><td class="right" data-stat="pts_per_g">116.8</td><td class="right" data-stat="opp_pts_per_g">112.7</td></tr>
<tr class="full_table"><th class="left" csk="0.394" data-stat="team_name" scope="row"><a href="/teams/NOP/2024.html">New Orleans Pelicans</a>*</th><td class="right" data-stat="wins">40</td><td class="right" data-stat="losses">26</td><td class="right" data-stat="win_loss_pct">.606</td><td class="right" data-stat="gb">6.5</td><td class="right" data-stat="pts_per_g">116.0</td><td class="right" data-stat="opp_pts_per_g">111.1</td></tr>
<tr class="full_table"><th class="left" csk="0.415" data-stat="team_name" scope="row"><a href="/teams/SAC/2024.html">Sacramento Kings</a></th><td class="right" data-stat="wins">38</td><td class="right" data-stat="losses">27</td><td class="right" data-stat="win_loss_pct">.585</td><td class="right" data-stat="gb">8.0</td><td class="right" data-stat="pts_per_g">118.4</td><td class="right" data-stat="opp_pts_per_g">117.4</td></tr>
<tr class="full_table"><th class="left" csk="0.418" data-stat="team_name" scope="row"><a href="/teams/PHO/2024.html">Phoenix Suns</a>*</th><td class="right" data-stat="wins">39</td><td class="right" data-stat="losses">28</td><td class="right" data-stat="win_loss_pct">.582</td><td class="right" data-stat="gb">8.0</td><td class="right" data-stat="pts_per_g">116.8</td><td class="right" data-stat="opp_pts_per_g">114.2</td></tr>
<tr class="full_table"><th class="left" csk="0.433" data-stat="team_name" scope="row"><a href="/teams/DAL/2024.html">Dallas Mavericks</a>*</th><td class="right" data-stat="wins">38</td><td class="right" data-stat="losses">29</td><td class="right" data-stat="win_loss_pct">.567</td><td class="right" data-stat="gb">9.0</td><td class="right" data-stat="pts_per_g">119.0</td><td class="right" data-stat="opp_pts_per_g">117.7</td></tr>
<tr class="full_table"><th class="left" csk="0.463" data-stat="team_name" scope="row"><a href="/teams/LAL/2024.html">Los Angeles Lakers</a>*</th><td class="right" data-stat="wins">36</td><td class="right" data-stat="losses">31</td><td class="right" data-stat="win_loss_pct">.537</td><td class="right" data-stat="gb">11.0</td><td class="right" data-stat="pts_per_g">117.1</td><td class="right" data-stat="opp_pts_per_g">117.6</td></tr>
<tr class="full_table"><th class="left" csk="0.477" data-stat="team_name" scope="row"><a href="/teams/GSW/2024.html">Golden State Warriors</a></th><td class="right" data-stat="wins">34</td><td class="right" data-stat="losses">31</td><td class="right" data-stat="win_loss_pct">.523</td><td class="right" data-stat="gb">12.0</td><td class="right" data-stat="pts_per_g">118.2</td><td class="right" data-stat="opp_pts_per_g">116.7</td></tr>
<tr class="full_table"><th class="left" csk="0.530" data-stat="team_name" scope="row"><a href="/teams/HOU/2024.html">Houston Rockets</a></th><td class="right" data-stat="wins">31</td><td class="right" data-stat="losses">35</td><td class="right" data-stat="win_loss_pct">.470</td><td class="right" data-stat="gb">15.5</td><td class="right" data-stat="pts_per_g">113.2</td><td class="right" data-stat="opp_pts_per_g">112.6</td></tr>
<tr class="full_table"><th class="left" csk="0.561" data-stat="team_name" scope="row"><a href="/teams/UTA/2024.html">Utah Jazz</a></th><td class="right" data-stat="wins">29</td><td class="right" data-stat="losses">37</td><td class="right" data-stat="win_loss_pct">.439</td><td class="right" data-stat="gb">17.5</td><td class="right" data-stat="pts_per_g">117.7</td><td class="right" data-stat="opp_pts_per_g">120.8</td></tr>
<tr class="full_table"><th class="left" csk="0.657" data-stat="team_name" scope="row"><a href="/teams/MEM/2024.html">Memphis Grizzlies</a></th><td class="right" data-stat="wins">23</td><td class="right" data-stat="losses">44</td><td class="right" data-stat="win_loss_pct">.343</td><td class="right" data-stat="gb">24.0</td><td class="right" data-stat="pts_per_g">105.7</td><td class="right" data-stat="opp_pts_per_g">112.2</td></tr>
<tr class="full_table"><th class="left" csk="0.712" data-stat="team_name" scope="row"><a href="/teams/POR/2024.html">Portland Trail Blazers</a></th><td class="right" data-stat="wins">19</td><td class="right" data-stat="losses">47</td><td class="right" data-stat="win_loss_pct">.288</td><td class="right" data-stat="gb">27.5</td><td class="right" data-stat="pts_per_g">107.7</td><td class="right" data-stat="opp_pts_per_g">115.7</td></tr>
<tr class="full_table"><th class="left" csk="0.791" data-stat="team_name" scope="row"><a href="/teams/SAS/2024.html">San Antonio Spurs</a></th><td class="right" data-stat="wins">14</td><td class="right" data-stat="losses">53</td><td class="right" data-stat="win_loss_pct">.209</td><td class="right" data-stat="gb">33.0</td><td class="right" data-stat="pts_per_g">112.2</td><td class="right" data-stat="opp_pts_per_g">119.8</td></tr>
</tbody>]

In [12]:
game_on_date_test_soup.find_all('tr', {"class": "winner"})[0]

<tr class="winner">
<td><a href="/teams/PHO/2024.html">Phoenix</a></td>
<td class="right">107</td>
<td class="right gamelink">
<a href="/boxscores/202403150CHO.html">F<span class="no_mobile">inal</span></a>
</td>
</tr>

In [13]:
game_on_date_test_soup.find_all('tr')[2]

<tr>
<th></th><!-- the team labels -->
<th>1</th><th>2</th><th>3</th><th>4</th>
</tr>

In [14]:
game_on_date_test_soup.find_all('tr', {"class": "winner"})[1].find_all('a')[1].attrs['href'].split('/')[2].split('.')[0][-3:]

'DET'

In [15]:
game_on_date_test_soup.find_all('tr', {"class": "winner"})[0].find_all('td')[0].find('a').attrs['href'].split('/')[2]

'PHO'

In [16]:
#print(game_on_date_test_soup.find('tbody').find_all('td')[0].find('a').attrs['href'].split('/')[2])
print(int(game_on_date_test_soup.find_all('tr', {"class": "winner"})[3].find_all('td')[1].contents[0]))

117

In [17]:
date = '20230315'

year = date[:4]
month = date[4:6]
day = date[-2:]

print(year + " " + month + " " + day)

2023 03 15

In [18]:
# Probably best to create individual series for each datapoint, ie loser score, then create the df at the end

def get_game_results(date):
    
    # need to incorporate game date into function

    #yyyymmdd
    #date = '20230315'

    year = date[:4]
    month = date[4:6]
    day = date[-2:]
    
    games_on_date_test_url = 'https://www.basketball-reference.com/boxscores/?month='  + str(int(month)) + '&day=' + str(int(day)) + '&year=' + str(int(year))

    games_on_date_test_page = requests.get(games_on_date_test_url,params={
      'render_js': True})    

    game_on_date_test_soup = BeautifulSoup(games_on_date_test_page.text, 'lxml')

    #game_results_df = pd.DataFrame()

    winning_teams = []
    losing_teams = []
    winning_scores = []
    losing_scores = []
    home_teams = []

    for i in range(len(game_on_date_test_soup.find_all('tr', {"class": "winner"}))):
        
      winning_teams.append(game_on_date_test_soup.find_all('tr', {"class": "winner"})[i].find_all('td')[0].find('a').attrs['href'].split('/')[2])
      losing_teams.append(game_on_date_test_soup.find_all('tr', {"class": "loser"})[i].find_all('td')[0].find('a').attrs['href'].split('/')[2])

      winning_scores.append(int(game_on_date_test_soup.find_all('tr', {"class": "winner"})[i].find_all('td')[1].contents[0]))
      losing_scores.append(int(game_on_date_test_soup.find_all('tr', {"class": "loser"})[i].find_all('td')[1].contents[0]))

      #home_teams.append(game_on_date_test_soup.find_all('tr', {"class": "winner"})[i].find_all('a')[1].attrs['href'].split('/')[2].split('.')[0][-3:])

    for i in range(len(game_on_date_test_soup.find_all('tr', {'class':['winner', 'loser']}))):
      try:
        home_teams.append(game_on_date_test_soup.find_all('tr', {'class':['winner', 'loser']})[i].find('a', href=re.compile('/boxscores/')).attrs['href'].split('/')[2].split('.')[0][-3:])
      except:
        pass

    temp_df = pd.DataFrame({'home': home_teams, 'winning_team': winning_teams, 'losing_team': losing_teams, 'winning_score': winning_scores, 'losing_score': losing_scores})
    
    temp_df['visitor'] = temp_df.apply(lambda x: x.winning_team if x.winning_team != x.home else x.losing_team, axis = 1)

    temp_df['visitor_score'] = temp_df.apply(lambda x: x.winning_score if x.winning_team != x.home else x.losing_score, axis = 1)

    temp_df['home_score'] = temp_df.apply(lambda x: x.winning_score if x.winning_team == x.home else x.losing_score, axis = 1)

    temp_df['dates'] = date

    temp_df['id'] = temp_df['visitor'] + temp_df['home'] + temp_df['dates']

    final_df = temp_df[['id', 'visitor', 'home', 'dates', 'visitor_score', 'home_score']]

    #temp_df['visiting_team'] = temp_df.apply(lambda x: x.winning_team if x.winning_team != x.home_team else x.losing_team)#[x for x in temp_df['winning_team']]
    return(final_df)
    #print(winning_teams)
    #print(losing_teams)
    #print(winning_scores)
    #print(losing_scores)
    #print(home_teams)

    # id = visitor initial + home initial + YYYYMMDD
    # visitor
    # home
    # date
    # visitor score
    # home score

In [19]:
# Probably best to create individual series for each datapoint, ie loser score, then create the df at the end

def get_game_results_w_api(date):
    
    # need to incorporate game date into function

    #yyyymmdd
    #date = '20230315'

    year = date[:4]
    month = date[4:6]
    day = date[-2:]
    
    games_on_date_test_url = 'https://www.basketball-reference.com/boxscores/?month='  + str(int(month)) + '&day=' + str(int(day)) + '&year=' + str(int(year))

    payload = { 'api_key': '1e39e30a6e96d4b3c90d44ae0e3222e2', 'url': games_on_date_test_url, 'country_code': 'us', 'device_type': 'desktop', 'max_cost': '1000', 'session_number': '0', 'render_js': True}
    
    games_on_date_test_page = requests.get('https://api.scraperapi.com/', params=payload)

    #games_on_date_test_page = requests.get(games_on_date_test_url,params={
    #  'render_js': True})   

    game_on_date_test_soup = BeautifulSoup(games_on_date_test_page.text, 'lxml')

    #game_results_df = pd.DataFrame()

    winning_teams = []
    losing_teams = []
    winning_scores = []
    losing_scores = []
    home_teams = []

    for i in range(len(game_on_date_test_soup.find_all('tr', {"class": "winner"}))):
        
      winning_teams.append(game_on_date_test_soup.find_all('tr', {"class": "winner"})[i].find_all('td')[0].find('a').attrs['href'].split('/')[2])
      losing_teams.append(game_on_date_test_soup.find_all('tr', {"class": "loser"})[i].find_all('td')[0].find('a').attrs['href'].split('/')[2])

      winning_scores.append(int(game_on_date_test_soup.find_all('tr', {"class": "winner"})[i].find_all('td')[1].contents[0]))
      losing_scores.append(int(game_on_date_test_soup.find_all('tr', {"class": "loser"})[i].find_all('td')[1].contents[0]))

      #home_teams.append(game_on_date_test_soup.find_all('tr', {"class": "winner"})[i].find_all('a')[1].attrs['href'].split('/')[2].split('.')[0][-3:])

    for i in range(len(game_on_date_test_soup.find_all('tr', {'class':['winner', 'loser']}))):
      try:
        home_teams.append(game_on_date_test_soup.find_all('tr', {'class':['winner', 'loser']})[i].find('a', href=re.compile('/boxscores/')).attrs['href'].split('/')[2].split('.')[0][-3:])
      except:
        pass

    temp_df = pd.DataFrame({'home': home_teams, 'winning_team': winning_teams, 'losing_team': losing_teams, 'winning_score': winning_scores, 'losing_score': losing_scores})
    
    temp_df['visitor'] = temp_df.apply(lambda x: x.winning_team if x.winning_team != x.home else x.losing_team, axis = 1)

    temp_df['visitor_score'] = temp_df.apply(lambda x: x.winning_score if x.winning_team != x.home else x.losing_score, axis = 1)

    temp_df['home_score'] = temp_df.apply(lambda x: x.winning_score if x.winning_team == x.home else x.losing_score, axis = 1)

    temp_df['dates'] = date

    temp_df['id'] = temp_df['visitor'] + temp_df['home'] + temp_df['dates']

    final_df = temp_df[['id', 'visitor', 'home', 'dates', 'visitor_score', 'home_score']]

    #temp_df['visiting_team'] = temp_df.apply(lambda x: x.winning_team if x.winning_team != x.home_team else x.losing_team)#[x for x in temp_df['winning_team']]
    return(final_df)
    #print(winning_teams)
    #print(losing_teams)
    #print(winning_scores)
    #print(losing_scores)
    #print(home_teams)

    # id = visitor initial + home initial + YYYYMMDD
    # visitor
    # home
    # date
    # visitor score
    # home score

In [20]:
get_game_results_w_api('20240315')

               id visitor home     dates  visitor_score  home_score
0  PHOCHO20240315     PHO  CHO  20240315            107          96
1  MIADET20240315     MIA  DET  20240315            108          95
2  LACNOP20240315     LAC  NOP  20240315            104         112
3  DENSAS20240315     DEN  SAS  20240315            117         106
4  ORLTOR20240315     ORL  TOR  20240315            113         103
5  ATLUTA20240315     ATL  UTA  20240315            122         124

In [21]:
get_game_results('20240315')

               id visitor home     dates  visitor_score  home_score
0  PHOCHO20240315     PHO  CHO  20240315            107          96
1  MIADET20240315     MIA  DET  20240315            108          95
2  LACNOP20240315     LAC  NOP  20240315            104         112
3  DENSAS20240315     DEN  SAS  20240315            117         106
4  ORLTOR20240315     ORL  TOR  20240315            113         103
5  ATLUTA20240315     ATL  UTA  20240315            122         124

In [6]:
def config(filename = 'database.ini', section = 'postgresql'):
    parser = ConfigParser()
    parser.read(filename)

    db = {}

    if parser.has_section(section):
        params = parser.items(section)

        for param in params:
            db[param[0]] = param[1]

    else:
        raise Exception('Section{0} is not found in the {1} file'.format(section, filename))
    
    return(db)

config()

Exception: Sectionpostgresql is not found in the database.ini file

In [89]:
df_test = get_game_results('20240315')

for index in df_test.index:
    #print(tuple(df_test.iloc[row].values[0]))
    print(tuple(df_test.iloc[index]))

('PHOCHO20240315', 'PHO', 'CHO', '20240315', 107, 96)
('MIADET20240315', 'MIA', 'DET', '20240315', 108, 95)
('LACNOP20240315', 'LAC', 'NOP', '20240315', 104, 112)
('DENSAS20240315', 'DEN', 'SAS', '20240315', 117, 106)
('ORLTOR20240315', 'ORL', 'TOR', '20240315', 113, 103)
('ATLUTA20240315', 'ATL', 'UTA', '20240315', 122, 124)

In [5]:


def create_sql_tables():
    connection = None
    try:
        params = config()
        #print(params)
        print('connecting to postgresql database...')
        connection = psycopg2.connect(**params)
       
        # create cursor
        cursor = connection.cursor()
        
        # add all sql create table commands here
        #cursor.execute(open('create_game_results_table.sql', 'r').read())
        #cursor.execute(open('create_yearly_team_per_game_stats_table.sql', 'r').read())
        #cursor.execute(open('create_yearly_opponent_per_game_stats_table.sql', 'r').read())

        try:
            
            # add all sql create table commands here
            #cursor.execute(open('create_game_results_table.sql', 'r').read())
            #cursor.execute(open('create_yearly_team_per_game_stats_table.sql', 'r').read())
            #cursor.execute(open('create_yearly_opponent_per_game_stats_table.sql', 'r').read())


            connection.commit()
            print("connection successful / task complete")
            cursor.close()
            #os.remove(tmp_df)
            
        except (Exception, psycopg2.DatabaseError) as error:
            #os.remove(tmp_df)
            print("Error: %s" % error)
            #connection.rollback()
            cursor.close()
            return 1
    
    except(Exception, psycopg2.DatabaseError) as error:
        print(error)
    
    finally:
        if connection is not None:
            connection.close()
            print('database connection terminated')

if __name__ == '__main__':
    create_sql_tables()

Sectionpostgresql is not found in the database.ini file

In [45]:


def get_dates_already_in_db():
    connection = None
    try:
        params = config()
        #print(params)
        print('connecting to postgresql database...')
        connection = psycopg2.connect(**params)
       
        # create cursor
        cursor = connection.cursor()

        try:
            
            cursor.execute("""SELECT DISTINCT(dates) FROM game_results;""")

            game_dates_already_in_db = cursor.fetchall()

            connection.commit()
            print("connection successful / task complete")
            cursor.close()
            return game_dates_already_in_db
            #os.remove(tmp_df)
            
        except (Exception, psycopg2.DatabaseError) as error:
            #os.remove(tmp_df)
            print("Error: %s" % error)
            #connection.rollback()
            cursor.close()
            return 1
    
    except(Exception, psycopg2.DatabaseError) as error:
        print(error)
    
    finally:
        if connection is not None:
            connection.close()
            print('database connection terminated')

if __name__ == '__main__':
    get_dates_already_in_db()

connecting to postgresql database...
connection successful / task complete
database connection terminated

In [46]:
existing_game_dates_raw = get_dates_already_in_db()

connecting to postgresql database...
connection successful / task complete
database connection terminated

In [47]:
existing_game_dates_clean = [x[0] for x in existing_game_dates_raw]
existing_game_dates_clean.sort(reverse=True)

In [48]:
print(existing_game_dates_clean)

[20250107, 20250106, 20250105, 20250104, 20250103, 20250102, 20250101, 20241231, 20241230, 20241229, 20241228, 20241227, 20241226, 20241225, 20241223, 20241222, 20241221, 20241220, 20241219, 20241217, 20241216, 20241215, 20241214, 20241213, 20241212, 20241211, 20241210, 20241209, 20241208, 20241207, 20241206, 20241205, 20241204, 20241203, 20241202, 20241201, 20241130, 20241129, 20241127, 20241126, 20241125, 20241124, 20241123, 20241122, 20241121, 20241120, 20241119, 20241118, 20241117, 20241116, 20241115, 20241114, 20241113, 20241112, 20241111, 20241110, 20241109, 20241108, 20241107, 20241106, 20241104, 20241103, 20241102, 20241101, 20241031, 20241030, 20241029, 20241028, 20240614, 20240612, 20240609, 20240606, 20240530, 20240528, 20240527, 20240526, 20240525, 20240524, 20240523, 20240522, 20240521, 20240519, 20240518, 20240517, 20240516, 20240515, 20240514, 20240513, 20240512, 20240511, 20240510, 20240509, 20240508, 20240507, 20240506, 20240505, 20240504, 20240503, 20240502, 20240501, 20240430, 20240429, 20240428, 20240427, 20240426, 20240425, 20240424, 20240423, 20240422, 20240421, 20240420, 20240419, 20240417, 20240416, 20240414, 20240412, 20240411, 20240410, 20240409, 20240407, 20240406, 20240405, 20240404, 20240403, 20240402, 20240401, 20240331, 20240330, 20240329, 20240328, 20240327, 20240326, 20240325, 20240324, 20240323, 20240322, 20240321, 20240320, 20240319, 20240318, 20240317, 20240316, 20240315, 20240314, 20240313, 20240312, 20240311, 20240310, 20240309, 20240308, 20240307, 20240306, 20240305, 20240304, 20240303, 20240302, 20240301, 20240229, 20240228, 20240227, 20240226, 20240225, 20240224, 20240223, 20240222, 20240215, 20240214, 20240213, 20240212, 20240211, 20240210, 20240209, 20240208, 20240207, 20240206, 20240205, 20240204, 20240203, 20240202, 20240201, 20240131, 20240130, 20240129, 20240128, 20240127, 20240126, 20240125, 20240124, 20240123, 20240122, 20240121, 20240120, 20240119, 20240118, 20240117, 20240116, 20240115, 20240114, 20240113, 20240112, 20240111, 20240110, 20240109, 20240108, 20240107, 20240106, 20240105, 20240104, 20240103, 20240102, 20240101, 20231231, 20231230, 20231229, 20231228, 20231227, 20231226, 20231225, 20231223, 20231222, 20231221, 20231220, 20231219, 20231218, 20231217, 20231216, 20231215, 20231214, 20231213, 20231212, 20231211, 20231209, 20231208, 20231207, 20231206, 20231205, 20231204, 20231202, 20231201, 20231130, 20231129, 20231128, 20231127, 20231126, 20231125, 20231124, 20231122, 20231121, 20231120, 20231119, 20231118, 20231117, 20231116, 20231115, 20231114, 20231113, 20231112, 20231111, 20231110, 20231109, 20231108, 20231106, 20231105, 20231104, 20231103, 20231102, 20231101, 20231031, 20231030, 20231029, 20231028, 20231027, 20231026, 20231025, 20231024, 20230612, 20230609, 20230607, 20230604, 20230601, 20230529, 20230527, 20230525, 20230523, 20230522, 20230521, 20230520, 20230519, 20230518, 20230517, 20230516, 20230514, 20230512, 20230511, 20230510, 20230509, 20230508, 20230507, 20230506, 20230505, 20230504, 20230503, 20230502, 20230501, 20230430, 20230429, 20230428, 20230427, 20230426, 20230425, 20230424, 20230423, 20230422, 20230421, 20230420, 20230419, 20230418, 20230417, 20230416, 20230415, 20230414, 20230412, 20230411, 20230409, 20230408, 20230407, 20230406, 20230405, 20230404, 20230402, 20230401, 20230331, 20230330, 20230329, 20230328, 20230327, 20230326, 20230325, 20230324, 20230323, 20230322, 20230321, 20230320, 20230319, 20230318, 20230317, 20230316, 20230315, 20230314, 20230313, 20230312, 20230311, 20230310, 20230309, 20230308, 20230307, 20230306, 20230305, 20230304, 20230303, 20230302, 20230301, 20230228, 20230227, 20230226, 20230225, 20230224, 20230223, 20230216, 20230215, 20230214, 20230213, 20230212, 20230211, 20230210, 20230209, 20230208, 20230207, 20230206, 20230205, 20230204, 20230203, 20230202, 20230201, 20230131, 20230130, 20230129, 20230128, 20230127, 20230126, 20230125, 20230124, 20230123, 20230122, 20230121, 20230120, 20230119, 20230118, 20230117, 20230116, 20230115, 20230114, 20230113, 20230112, 20230111, 20230110, 20230109, 20230108, 20230107, 20230106, 20230105, 20230104, 20230103, 20230102, 20230101, 20221231, 20221230, 20221229, 20221228, 20221227, 20221226, 20221225, 20221223, 20221222, 20221221, 20221220, 20221219, 20221218, 20221217, 20221216, 20221215, 20221214, 20221213, 20221212, 20221211, 20221210, 20221209, 20221208, 20221207, 20221206, 20221205, 20221204, 20221203, 20221202, 20221201, 20221130, 20221129, 20221128, 20221127, 20221126, 20221125, 20221123, 20221122, 20221121, 20221120, 20221119, 20221118, 20221117, 20221116, 20221115, 20221114, 20221113, 20221112, 20221111, 20221110, 20221109, 20221107, 20221106, 20221105, 20221104, 20221103, 20221102, 20221101, 20221031, 20221030, 20221029, 20221028, 20221027, 20221026, 20221025, 20221024, 20221023, 20221022, 20221021, 20221020, 20221019, 20221018, 20220616, 20220613, 20220610, 20220608, 20220605, 20220602, 20220529, 20220527, 20220526, 20220525, 20220524, 20220523, 20220522, 20220521, 20220520, 20220519, 20220518, 20220517, 20220515, 20220513, 20220512, 20220511, 20220510, 20220509, 20220508, 20220507, 20220506, 20220504, 20220503, 20220502, 20220501, 20220429, 20220428, 20220427, 20220426, 20220425, 20220424, 20220423, 20220422, 20220421, 20220420, 20220419, 20220418, 20220417, 20220416, 20220415, 20220413, 20220412, 20220410, 20220409, 20220408, 20220407, 20220406, 20220405, 20220403, 20220402, 20220401, 20220331, 20220330, 20220329, 20220328, 20220327, 20220326, 20220325, 20220324, 20220323, 20220322, 20220321, 20220320, 20220319, 20220318, 20220317, 20220316, 20220315, 20220314, 20220313, 20220312, 20220311, 20220310, 20220309, 20220308, 20220307, 20220306, 20220305, 20220304, 20220303, 20220302, 20220301, 20220228, 20220227, 20220226, 20220225, 20220224, 20220217, 20220216, 20220215, 20220214, 20220213, 20220212, 20220211, 20220210, 20220209, 20220208, 20220207, 20220206, 20220205, 20220204, 20220203, 20220202, 20220201, 20220131, 20220130, 20220129, 20220128, 20220127, 20220126, 20220125, 20220124, 20220123, 20220122, 20220121, 20220120, 20220119, 20220118, 20220117, 20220116, 20220115, 20220114, 20220113, 20220112, 20220111, 20220110, 20220109, 20220108, 20220107, 20220106, 20220105, 20220104, 20220103, 20220102, 20220101, 20211231, 20211230, 20211229, 20211228, 20211227, 20211226, 20211225, 20211223, 20211222, 20211221, 20211220, 20211219, 20211218, 20211217, 20211216, 20211215, 20211214, 20211213, 20211212, 20211211, 20211210, 20211209, 20211208, 20211207, 20211206, 20211205, 20211204, 20211203, 20211202, 20211201, 20211130, 20211129, 20211128, 20211127, 20211126, 20211124, 20211123, 20211122, 20211121, 20211120, 20211119, 20211118, 20211117, 20211116, 20211115, 20211114, 20211113, 20211112, 20211111, 20211110, 20211109, 20211108, 20211107, 20211106, 20211105, 20211104, 20211103, 20211102, 20211101, 20211031, 20211030, 20211029, 20211028, 20211027, 20211026, 20211025, 20211024, 20211023, 20211022, 20211021, 20211020, 20211019, 20210630, 20210629, 20210628, 20210627, 20210626, 20210625, 20210624, 20210623, 20210622, 20210620, 20210619, 20210618, 20210617, 20210616, 20210615, 20210614, 20210613, 20210612, 20210611, 20210610, 20210609, 20210608, 20210607, 20210606, 20210605, 20210604, 20210603, 20210602, 20210601, 20210531, 20210530, 20210529, 20210528, 20210527, 20210526, 20210525, 20210524, 20210523, 20210522, 20210521, 20210520, 20210519, 20210518, 20210516, 20210515, 20210514, 20210513, 20210512, 20210511, 20210510, 20210509, 20210508, 20210507, 20210506, 20210505, 20210504, 20210503, 20210502, 20210501, 20210430, 20210429, 20210428, 20210427, 20210426, 20210425, 20210424, 20210423, 20210422, 20210421, 20210420, 20210419, 20210418, 20210417, 20210416, 20210415, 20210414, 20210413, 20210412, 20210411, 20210410, 20210409, 20210408, 20210407, 20210406, 20210405, 20210404, 20210403, 20210402, 20210401, 20210331, 20210330, 20210329, 20210328, 20210327, 20210326, 20210325, 20210324, 20210323, 20210322, 20210321, 20210320, 20210319, 20210318, 20210317, 20210316, 20210315, 20210314, 20210313, 20210312, 20210311, 20210310, 20210304, 20210303, 20210302, 20210301, 20210228, 20210227, 20210226, 20210225, 20210224, 20210223, 20210222, 20210221, 20210220, 20210219, 20210218, 20210217, 20210216, 20210215, 20210214, 20210213, 20210212, 20210211, 20210210, 20210209, 20210208, 20210207, 20210206, 20210205, 20210204, 20210203, 20210202, 20210201, 20210131, 20210130, 20210129, 20210128, 20210127, 20210126, 20210125, 20210124, 20210123, 20210122, 20210121, 20210120, 20210119, 20210118, 20210117, 20210116, 20210115, 20210114, 20210113, 20210112, 20210111, 20210110, 20210109, 20210108, 20210107, 20210106, 20210105, 20210104, 20210103, 20210102, 20210101, 20201231, 20201230, 20201229, 20201228, 20201227, 20201226, 20201225, 20201223, 20201222, 20190613, 20190610, 20190607, 20190605, 20190602, 20190530, 20190525, 20190523, 20190521, 20190520, 20190519, 20190518, 20190517, 20190516, 20190515, 20190514, 20190512, 20190510, 20190509, 20190508, 20190507, 20190506, 20190505, 20190504, 20190503, 20190502, 20190501, 20190430, 20190429, 20190428, 20190427, 20190426, 20190425, 20190424, 20190423, 20190422, 20190421, 20190420, 20190419, 20190418, 20190417, 20190416, 20190415, 20190414, 20190413, 20190410, 20190409, 20190407, 20190406, 20190405, 20190404, 20190403, 20190402, 20190401, 20190331, 20190330, 20190329, 20190328, 20190327, 20190326, 20190325, 20190324, 20190323, 20190322, 20190321, 20190320, 20190319, 20190318, 20190317, 20190316, 20190315, 20190314, 20190313, 20190312, 20190311, 20190310, 20190309, 20190308, 20190307, 20190306, 20190305, 20190304, 20190303, 20190302, 20190301, 20190228, 20190227, 20190226, 20190225, 20190224, 20190223, 20190222, 20190221, 20190214, 20190213, 20190212, 20190211, 20190210, 20190209, 20190208, 20190207, 20190206, 20190205, 20190204, 20190203, 20190202, 20190201, 20190131, 20190130, 20190129, 20190128, 20190127, 20190126, 20190125, 20190124, 20190123, 20190122, 20190121, 20190120, 20190119, 20190118, 20190117, 20190116, 20190115, 20190114, 20190113, 20190112, 20190111, 20190110, 20190109, 20190108, 20190107, 20190106, 20190105, 20190104, 20190103, 20190102, 20190101, 20181231, 20181230, 20181229, 20181228, 20181227, 20181226, 20181225, 20181223, 20181222, 20181221, 20181220, 20181219, 20181218, 20181217, 20181216, 20181215, 20181214, 20181213, 20181212, 20181211, 20181210, 20181209, 20181208, 20181207, 20181206, 20181205, 20181204, 20181203, 20181202, 20181201, 20181130, 20181129, 20181128, 20181127, 20181126, 20181125, 20181124, 20181123, 20181121, 20181120, 20181119, 20181118, 20181117, 20181116, 20181115, 20181114, 20181113, 20181112, 20181111, 20181110, 20181109, 20181108, 20181107, 20181106, 20181105, 20181104, 20181103, 20181102, 20181101, 20181031, 20181030, 20181029, 20181028, 20181027, 20181026, 20181025, 20181024, 20181023, 20181022, 20181021, 20181020, 20181019, 20181018, 20181017, 20181016, 20180608, 20180606, 20180603, 20180531, 20180528, 20180527, 20180526, 20180525, 20180524, 20180523, 20180522, 20180521, 20180520, 20180519, 20180516, 20180515, 20180514, 20180513, 20180509, 20180508, 20180507, 20180506, 20180505, 20180504, 20180503, 20180502, 20180501, 20180430, 20180429, 20180428, 20180427, 20180426, 20180425, 20180424, 20180423, 20180422, 20180421, 20180420, 20180419, 20180418, 20180417, 20180416, 20180415, 20180414, 20180411, 20180410, 20180409, 20180408, 20180407, 20180406, 20180405, 20180404, 20180403, 20180401, 20180331, 20180330, 20180329, 20180328, 20180327, 20180326, 20180325, 20180324, 20180323, 20180322, 20180321, 20180320, 20180319, 20180318, 20180317, 20180316, 20180315, 20180314, 20180313, 20180312, 20180311, 20180310, 20180309, 20180308, 20180307, 20180306, 20180305, 20180304, 20180303, 20180302, 20180301, 20180228, 20180227, 20180226, 20180225, 20180224, 20180223, 20180222, 20180215, 20180214, 20180213, 20180212, 20180211, 20180210, 20180209, 20180208, 20180207, 20180206, 20180205, 20180204, 20180203, 20180202, 20180201, 20180131, 20180130, 20180129, 20180128, 20180127, 20180126, 20180125, 20180124, 20180123, 20180122, 20180121, 20180120, 20180119, 20180118, 20180117, 20180116, 20180115, 20180114, 20180113, 20180112, 20180111, 20180110, 20180109, 20180108, 20180107, 20180106, 20180105, 20180104, 20180103, 20180102, 20180101, 20171231, 20171230, 20171229, 20171228, 20171227, 20171226, 20171225, 20171223, 20171222, 20171221, 20171220, 20171219, 20171218, 20171217, 20171216, 20171215, 20171214, 20171213, 20171212, 20171211, 20171210, 20171209, 20171208, 20171207, 20171206, 20171205, 20171204, 20171203, 20171202, 20171201, 20171130, 20171129, 20171128, 20171127, 20171126, 20171125, 20171124, 20171122, 20171121, 20171120, 20171119, 20171118, 20171117, 20171116, 20171115, 20171114, 20171113, 20171112, 20171111, 20171110, 20171109, 20171108, 20171107, 20171106, 20171105, 20171104, 20171103, 20171102, 20171101, 20171031, 20171030, 20171029, 20171028, 20171027, 20171026, 20171025, 20171024, 20171023, 20171022, 20171021, 20171020, 20171019, 20171018, 20171017, 20170612, 20170609, 20170607, 20170604, 20170601, 20170525, 20170523, 20170522, 20170521, 20170520, 20170519, 20170517, 20170516, 20170515, 20170514, 20170512, 20170511, 20170510, 20170509, 20170508, 20170507, 20170506, 20170505, 20170504, 20170503, 20170502, 20170501, 20170430, 20170428, 20170427, 20170426, 20170425, 20170424, 20170423, 20170422, 20170421, 20170420, 20170419, 20170418, 20170417, 20170416, 20170415, 20170412, 20170411, 20170410, 20170409, 20170408, 20170407, 20170406, 20170405, 20170404, 20170403, 20170402, 20170401, 20170331, 20170330, 20170329, 20170328, 20170327, 20170326, 20170325, 20170324, 20170323, 20170322, 20170321, 20170320, 20170319, 20170318, 20170317, 20170316, 20170315, 20170314, 20170313, 20170312, 20170311, 20170310, 20170309, 20170308, 20170307, 20170306, 20170305, 20170304, 20170303, 20170302, 20170301, 20170228, 20170227, 20170226, 20170225, 20170224, 20170223, 20170216, 20170215, 20170214, 20170213, 20170212, 20170211, 20170210, 20170209, 20170208, 20170207, 20170206, 20170205, 20170204, 20170203, 20170202, 20170201, 20170131, 20170130, 20170129, 20170128, 20170127, 20170126, 20170125, 20170124, 20170123, 20170122, 20170121, 20170120, 20170119, 20170118, 20170117, 20170116, 20170115, 20170114, 20170113, 20170112, 20170111, 20170110, 20170109, 20170108, 20170107, 20170106, 20170105, 20170104, 20170103, 20170102, 20170101, 20161231, 20161230, 20161229, 20161228, 20161227, 20161226, 20161225, 20161223, 20161222, 20161221, 20161220, 20161219, 20161218, 20161217, 20161216, 20161215, 20161214, 20161213, 20161212, 20161211, 20161210, 20161209, 20161208, 20161207, 20161206, 20161205, 20161204, 20161203, 20161202, 20161201, 20161130, 20161129, 20161128, 20161127, 20161126, 20161125, 20161123, 20161122, 20161121, 20161120, 20161119, 20161118, 20161117, 20161116, 20161115, 20161114, 20161113, 20161112, 20161111, 20161110, 20161109, 20161108, 20161107, 20161106, 20161105, 20161104, 20161103, 20161102, 20161101, 20161031, 20161030, 20161029, 20161028, 20161027, 20161026, 20161025, 20160619, 20160616, 20160613, 20160610, 20160608, 20160605, 20160602, 20160530, 20160528, 20160527, 20160526, 20160525, 20160524, 20160523, 20160522, 20160521, 20160519, 20160518, 20160517, 20160516, 20160515, 20160513, 20160512, 20160511, 20160510, 20160509, 20160508, 20160507, 20160506, 20160505, 20160504, 20160503, 20160502, 20160501, 20160430, 20160429, 20160428, 20160427, 20160426, 20160425, 20160424, 20160423, 20160422, 20160421, 20160420, 20160419, 20160418, 20160417, 20160416, 20160413, 20160412, 20160411, 20160410, 20160409, 20160408, 20160407, 20160406, 20160405, 20160403, 20160402, 20160401, 20160331, 20160330, 20160329, 20160328, 20160327, 20160326, 20160325, 20160324, 20160323, 20160322, 20160321, 20160320, 20160319, 20160318, 20160317, 20160316, 20160315, 20160314, 20160313, 20160312, 20160311, 20160310, 20160309, 20160308, 20160307, 20160306, 20160305, 20160304, 20160303, 20160302, 20160301, 20160229, 20160228, 20160227, 20160226, 20160225, 20160224, 20160223, 20160222, 20160221, 20160220, 20160219, 20160218, 20160211, 20160210, 20160209, 20160208, 20160207, 20160206, 20160205, 20160204, 20160203, 20160202, 20160201, 20160131, 20160130, 20160129, 20160128, 20160127, 20160126, 20160125, 20160124, 20160123, 20160122, 20160121, 20160120, 20160119, 20160118, 20160117, 20160116, 20160115, 20160114, 20160113, 20160112, 20160111, 20160110, 20160109, 20160108, 20160107, 20160106, 20160105, 20160104, 20160103, 20160102, 20160101, 20151231, 20151230, 20151229, 20151228, 20151227, 20151226, 20151225, 20151223, 20151222, 20151221, 20151220, 20151219, 20151218, 20151217, 20151216, 20151215, 20151214, 20151213, 20151212, 20151211, 20151210, 20151209, 20151208, 20151207, 20151206, 20151205, 20151204, 20151203, 20151202, 20151201, 20151130, 20151129, 20151128, 20151127, 20151125, 20151124, 20151123, 20151122, 20151121, 20151120, 20151119, 20151118, 20151117, 20151116, 20151115, 20151114, 20151113, 20151112, 20151111, 20151110, 20151109, 20151108, 20151107, 20151106, 20151105, 20151104, 20151103, 20151102, 20151101, 20151031, 20151030, 20151029, 20151028, 20151027, 20150616, 20150614, 20150611, 20150609, 20150607, 20150604, 20150527, 20150526, 20150525, 20150524, 20150523, 20150522, 20150521, 20150520, 20150519, 20150517, 20150515, 20150514, 20150513, 20150512, 20150511, 20150510, 20150509, 20150508, 20150506, 20150505, 20150504, 20150503, 20150502, 20150501, 20150430, 20150429, 20150428, 20150427, 20150426, 20150425, 20150424, 20150423, 20150422, 20150421, 20150420, 20150419, 20150418, 20150415, 20150414, 20150413, 20150412, 20150411, 20150410, 20150409, 20150408, 20150407, 20150406, 20150405, 20150404, 20150403, 20150402, 20150401, 20150331, 20150330, 20150329, 20150328, 20150327, 20150326, 20150325, 20150324, 20150323, 20150322, 20150321, 20150320, 20150319, 20150318, 20150317, 20150316, 20150315, 20150314, 20150313, 20150312, 20150311, 20150310, 20150309, 20150308, 20150307, 20150306, 20150305, 20150304, 20150303, 20150302, 20150301, 20150228, 20150227, 20150226, 20150225, 20150224, 20150223, 20150222, 20150221, 20150220, 20150219, 20150212, 20150211, 20150210, 20150209, 20150208, 20150207, 20150206, 20150205, 20150204, 20150203, 20150202, 20150201, 20150131, 20150130, 20150129, 20150128, 20150127, 20150126, 20150125, 20150124, 20150123, 20150122, 20150121, 20150120, 20150119, 20150118, 20150117, 20150116, 20150115, 20150114, 20150113, 20150112, 20150111, 20150110, 20150109, 20150108, 20150107, 20150106, 20150105, 20150104, 20150103, 20150102, 20150101, 20141231, 20141230, 20141229, 20141228, 20141227, 20141226, 20141225, 20141223, 20141222, 20141221, 20141220, 20141219, 20141218, 20141217, 20141216, 20141215, 20141214, 20141213, 20141212, 20141211, 20141210, 20141209, 20141208, 20141207, 20141206, 20141205, 20141204, 20141203, 20141202, 20141201, 20141130, 20141129, 20141128, 20141126, 20141125, 20141124, 20141123, 20141122, 20141121, 20141120, 20141119, 20141118, 20141117, 20141116, 20141115, 20141114, 20141113, 20141112, 20141111, 20141110, 20141109, 20141108, 20141107, 20141106, 20141105, 20141104, 20141103, 20141102, 20141101, 20141031, 20141030, 20141029, 20141028, 20140615, 20140612, 20140610, 20140608, 20140605, 20140531, 20140530, 20140529, 20140528, 20140527, 20140526, 20140525, 20140524, 20140521, 20140520, 20140519, 20140518, 20140515, 20140514, 20140513, 20140512, 20140511, 20140510, 20140509, 20140508, 20140507, 20140506, 20140505, 20140504, 20140503, 20140502, 20140501, 20140430, 20140429, 20140428, 20140427, 20140426, 20140425, 20140424, 20140423, 20140422, 20140421, 20140420, 20140419, 20140416, 20140415, 20140414, 20140413, 20140412, 20140411, 20140410, 20140409, 20140408, 20140406, 20140405, 20140404, 20140403, 20140402, 20140401, 20140331, 20140330, 20140329, 20140328, 20140327, 20140326, 20140325, 20140324, 20140323, 20140322, 20140321, 20140320, 20140319, 20140318,

In [49]:
regular_season_dates = {
  2000: [19991031, 20000416],
  2001: [20001031, 20010418],
  2002: [20011030, 20020417],
  2003: [20021029, 20030416],
  2004: [20031028, 20040414],
  2005: [20041102, 20050420],
  2006: [20051101, 20060419],
  2007: [20061031, 20070415],
  2008: [20071030, 20080416],
  2009: [20081028, 20090415],
  2010: [20091027, 20100414],
  2011: [20101026, 20110413],
  2012: [20111225, 20120426],
  2013: [20121030, 20130417],
  2014: [20131029, 20140416],
  2015: [20141028, 20150415],
  2016: [20151027, 20160413],
  2017: [20161025, 20170412],
  2018: [20171017, 20180411],
  2019: [20181016, 20190410],
  2020: [20191022, 20200311],
  2021: [20201222, 20210716],
  2022: [20211019, 20220410],
  2023: [20221018, 20230409],
  2024: [20231024, 20230414],
  2025: [20241028, 20250413]
}

playoff_dates = {
  2000: [20000421, 20000619],
  2001: [20010420, 20010615],
  2002: [20020419, 20020616],
  2003: [20030418, 20030615],
  2004: [20040416, 20040615],
  2005: [20050423, 20050623],
  2006: [20060421, 20060620],
  2007: [20070420, 20070614],
  2008: [20080418, 20080617],
  2009: [20090418, 20090614],
  2010: [20100417, 20100617],
  2011: [20110416, 20110612],
  2012: [20120428, 20120621],
  2013: [20130420, 20130620],
  2014: [20140419, 20140615],
  2015: [20150418, 20150616],
  2016: [20160416, 20160619],
  2017: [20170415, 20170612],
  2018: [20180414, 20180608],
  2019: [20190413, 20190613],
  2020: [20200817, 20201011],
  2021: [20210522, 20210720],
  2022: [20220416, 20220616],
  2023: [20230415, 20230618],
  2024: [20240420, 20240616],
  2025: [20250418, 20250615]
}

In [50]:


def add_game_data_to_db(date):
    connection = None
    try:
        params = config()
        #print(params)
        print('connecting to postgresql database...')
        connection = psycopg2.connect(**params)
       
        # create cursor
        cursor = connection.cursor()
        
        # example
        #print('postgresql database version: ')
        #crsr.execute('SELECT version()')
        #db_version = crsr.fetchone()
        #print(db_version)

        try:
            #cursor.copy_from(f, 'game_results', sep=",")
            #cursor.copy_from(f_21_22, 'game_results', sep=",")
            #cursor.copy_from(f_19, 'game_results', sep=",")
            #cursor.copy_from(f_17_18, 'game_results', sep=",")
            #cursor.copy_from(f_15_16, 'game_results', sep=",")
            #cursor.copy_from(f_13_14, 'game_results', sep=",")

            #cursor.copy_from(f_team_per_game_stats, 'yearly_team_per_game_stats', sep=",")
            #cursor.copy_from(f_opp_per_game_stats, 'yearly_opponent_per_game_stats', sep=",")
            
            #cursor.copy_from(final_df_csv, 'game_results')

            #cursor.execute("""INSERT INTO game_results (id, visitor, home, dates, visitor_score, home_score) VALUES (%s, %s, %s, %s, %s, %s); """, tuple(df_test.iloc[0]))

            game_data_on_date = get_game_results_w_api(str(date))
            for index in game_data_on_date.index:
                cursor.execute("""INSERT INTO game_results (id, visitor, home, dates, visitor_score, home_score) VALUES (%s, %s, %s, %s, %s, %s); """, tuple(game_data_on_date.iloc[index]))

            connection.commit()
            #print("connection successful / task complete")
            cursor.close()
            #os.remove(tmp_df)
            
        except (Exception, psycopg2.DatabaseError) as error:
            #os.remove(tmp_df)
            print("Error: %s" % error)
            #connection.rollback()
            cursor.close()
            return 1
    
    except(Exception, psycopg2.DatabaseError) as error:
        print(error)
    
    finally:
        if connection is not None:
            connection.close()
           #print('database connection terminated')

#if __name__ == '__main__':
#    get_game_data('20240315')

In [51]:
#add_game_data_to_db('20240315')

In [60]:
from datetime import date, timedelta

valid_game_days = []

start_date = date.today() 
end_date = date(1999, 10, 31)    # perhaps date.today()

delta = start_date - end_date   # returns timedelta

for i in range(delta.days + 1):
    day = str(start_date - timedelta(days=i))
    day = int(day.replace("-", ""))
    month = (day // 100) % 100
    year = day // 10000
    if month > 8 and day >= regular_season_dates[year + 1][0]:
        valid_game_days.append(day)
    elif day <= playoff_dates[year][1]:
        valid_game_days.append(day)

In [61]:
valid_game_days

[20250108,
 20250107,
 20250106,
 20250105,
 20250104,
 20250103,
 20250102,
 20250101,
 20241231,
 20241230,
 20241229,
 20241228,
 20241227,
 20241226,
 20241225,
 20241224,
 20241223,
 20241222,
 20241221,
 20241220,
 20241219,
 20241218,
 20241217,
 20241216,
 20241215,
 20241214,
 20241213,
 20241212,
 20241211,
 20241210,
 20241209,
 20241208,
 20241207,
 20241206,
 20241205,
 20241204,
 20241203,
 20241202,
 20241201,
 20241130,
 20241129,
 20241128,
 20241127,
 20241126,
 20241125,
 20241124,
 20241123,
 20241122,
 20241121,
 20241120,
 20241119,
 20241118,
 20241117,
 20241116,
 20241115,
 20241114,
 20241113,
 20241112,
 20241111,
 20241110,
 20241109,
 20241108,
 20241107,
 20241106,
 20241105,
 20241104,
 20241103,
 20241102,
 20241101,
 20241031,
 20241030,
 20241029,
 20241028,
 20240616,
 20240615,
 20240614,
 20240613,
 20240612,
 20240611,
 20240610,
 20240609,
 20240608,
 20240607,
 20240606,
 20240605,
 20240604,
 20240603,
 20240602,
 20240601,
 20240531,
 20240530,
 20240529,
 20240528,
 20240527,
 20240526,
 20240525,
 20240524,
 20240523,
 20240522,
 20240521,
 20240520,
 20240519,
 20240518,
 20240517,
 20240516,
 20240515,
 20240514,
 20240513,
 20240512,
 20240511,
 20240510,
 20240509,
 20240508,
 20240507,
 20240506,
 20240505,
 20240504,
 20240503,
 20240502,
 20240501,
 20240430,
 20240429,
 20240428,
 20240427,
 20240426,
 20240425,
 20240424,
 20240423,
 20240422,
 20240421,
 20240420,
 20240419,
 20240418,
 20240417,
 20240416,
 20240415,
 20240414,
 20240413,
 20240412,
 20240411,
 20240410,
 20240409,
 20240408,
 20240407,
 20240406,
 20240405,
 20240404,
 20240403,
 20240402,
 20240401,
 20240331,
 20240330,
 20240329,
 20240328,
 20240327,
 20240326,
 20240325,
 20240324,
 20240323,
 20240322,
 20240321,
 20240320,
 20240319,
 20240318,
 20240317,
 20240316,
 20240315,
 20240314,
 20240313,
 20240312,
 20240311,
 20240310,
 20240309,
 20240308,
 20240307,
 20240306,
 20240305,
 20240304,
 20240303,
 20240302,
 20240301,
 20240229,
 20240228,
 20240227,
 20240226,
 20240225,
 20240224,
 20240223,
 20240222,
 20240221,
 20240220,
 20240219,
 20240218,
 20240217,
 20240216,
 20240215,
 20240214,
 20240213,
 20240212,
 20240211,
 20240210,
 20240209,
 20240208,
 20240207,
 20240206,
 20240205,
 20240204,
 20240203,
 20240202,
 20240201,
 20240131,
 20240130,
 20240129,
 20240128,
 20240127,
 20240126,
 20240125,
 20240124,
 20240123,
 20240122,
 20240121,
 20240120,
 20240119,
 20240118,
 20240117,
 20240116,
 20240115,
 20240114,
 20240113,
 20240112,
 20240111,
 20240110,
 20240109,
 20240108,
 20240107,
 20240106,
 20240105,
 20240104,
 20240103,
 20240102,
 20240101,
 20231231,
 20231230,
 20231229,
 20231228,
 20231227,
 20231226,
 20231225,
 20231224,
 20231223,
 20231222,
 20231221,
 20231220,
 20231219,
 20231218,
 20231217,
 20231216,
 20231215,
 20231214,
 20231213,
 20231212,
 20231211,
 20231210,
 20231209,
 20231208,
 20231207,
 20231206,
 20231205,
 20231204,
 20231203,
 20231202,
 20231201,
 20231130,
 20231129,
 20231128,
 20231127,
 20231126,
 20231125,
 20231124,
 20231123,
 20231122,
 20231121,
 20231120,
 20231119,
 20231118,
 20231117,
 20231116,
 20231115,
 20231114,
 20231113,
 20231112,
 20231111,
 20231110,
 20231109,
 20231108,
 20231107,
 20231106,
 20231105,
 20231104,
 20231103,
 20231102,
 20231101,
 20231031,
 20231030,
 20231029,
 20231028,
 20231027,
 20231026,
 20231025,
 20231024,
 20230618,
 20230617,
 20230616,
 20230615,
 20230614,
 20230613,
 20230612,
 20230611,
 20230610,
 20230609,
 20230608,
 20230607,
 20230606,
 20230605,
 20230604,
 20230603,
 20230602,
 20230601,
 20230531,
 20230530,
 20230529,
 20230528,
 20230527,
 20230526,
 20230525,
 20230524,
 20230523,
 20230522,
 20230521,
 20230520,
 20230519,
 20230518,
 20230517,
 20230516,
 20230515,
 20230514,
 20230513,
 20230512,
 20230511,
 20230510,
 20230509,
 20230508,
 20230507,
 20230506,
 20230505,
 20230504,
 20230503,
 20230502,
 20230501,
 20230430,
 20230429,
 20230428,
 20230427,
 20230426,
 20230425,
 20230424,
 20230423,
 20230422,
 20230421,
 20230420,
 20230419,
 20230418,
 20230417,
 20230416,
 20230415,
 20230414,
 20230413,
 20230412,
 20230411,
 20230410,
 20230409,
 20230408,
 20230407,
 20230406,
 20230405,
 20230404,
 20230403,
 20230402,
 20230401,
 20230331,
 20230330,
 20230329,
 20230328,
 20230327,
 20230326,
 20230325,
 20230324,
 20230323,
 20230322,
 20230321,
 20230320,
 20230319,
 20230318,
 20230317,
 20230316,
 20230315,
 20230314,
 20230313,
 20230312,
 20230311,
 20230310,
 20230309,
 20230308,
 20230307,
 20230306,
 20230305,
 20230304,
 20230303,
 20230302,
 20230301,
 20230228,
 20230227,
 20230226,
 20230225,
 20230224,
 20230223,
 20230222,
 20230221,
 20230220,
 20230219,
 20230218,
 20230217,
 20230216,
 20230215,
 20230214,
 20230213,
 20230212,
 20230211,
 20230210,
 20230209,
 20230208,
 20230207,
 20230206,
 20230205,
 20230204,
 20230203,
 20230202,
 20230201,
 20230131,
 20230130,
 20230129,
 20230128,
 20230127,
 20230126,
 20230125,
 20230124,
 20230123,
 20230122,
 20230121,
 20230120,
 20230119,
 20230118,
 20230117,
 20230116,
 20230115,
 20230114,
 20230113,
 20230112,
 20230111,
 20230110,
 20230109,
 20230108,
 20230107,
 20230106,
 20230105,
 20230104,
 20230103,
 20230102,
 20230101,
 20221231,
 20221230,
 20221229,
 20221228,
 20221227,
 20221226,
 20221225,
 20221224,
 20221223,
 20221222,
 20221221,
 20221220,
 20221219,
 20221218,
 20221217,
 20221216,
 20221215,
 20221214,
 20221213,
 20221212,
 20221211,
 20221210,
 20221209,
 20221208,
 20221207,
 20221206,
 20221205,
 20221204,
 20221203,
 20221202,
 20221201,
 20221130,
 20221129,
 20221128,
 20221127,
 20221126,
 20221125,
 20221124,
 20221123,
 20221122,
 20221121,
 20221120,
 20221119,
 20221118,
 20221117,
 20221116,
 20221115,
 20221114,
 20221113,
 20221112,
 20221111,
 20221110,
 20221109,
 20221108,
 20221107,
 20221106,
 20221105,
 20221104,
 20221103,
 20221102,
 20221101,
 20221031,
 20221030,
 20221029,
 20221028,
 20221027,
 20221026,
 20221025,
 20221024,
 20221023,
 20221022,
 20221021,
 20221020,
 20221019,
 20221018,
 20220616,
 20220615,
 20220614,
 20220613,
 20220612,
 20220611,
 20220610,
 20220609,
 20220608,
 20220607,
 20220606,
 20220605,
 20220604,
 20220603,
 20220602,
 20220601,
 20220531,
 20220530,
 20220529,
 20220528,
 20220527,
 20220526,
 20220525,
 20220524,
 20220523,
 20220522,
 20220521,
 20220520,
 20220519,
 20220518,
 20220517,
 20220516,
 20220515,
 20220514,
 20220513,
 20220512,
 20220511,
 20220510,
 20220509,
 20220508,
 20220507,
 20220506,
 20220505,
 20220504,
 20220503,
 20220502,
 20220501,
 20220430,
 20220429,
 20220428,
 20220427,
 20220426,
 20220425,
 20220424,
 20220423,
 20220422,
 20220421,
 20220420,
 20220419,
 20220418,
 20220417,
 20220416,
 20220415,
 20220414,
 20220413,
 20220412,
 20220411,
 20220410,
 20220409,
 20220408,
 20220407,
 20220406,
 20220405,
 20220404,
 20220403,
 20220402,
 20220401,
 20220331,
 20220330,
 20220329,
 20220328,
 20220327,
 20220326,
 20220325,
 20220324,
 20220323,
 20220322,
 20220321,
 20220320,
 20220319,
 20220318,
 20220317,
 20220316,
 20220315,
 20220314,
 20220313,
 20220312,
 20220311,
 20220310,
 20220309,
 20220308,
 20220307,
 20220306,
 20220305,
 20220304,
 20220303,
 20220302,
 20220301,
 20220228,
 20220227,
 20220226,
 20220225,
 20220224,
 20220223,
 20220222,
 20220221,
 20220220,
 20220219,
 20220218,
 20220217,
 20220216,
 20220215,
 20220214,
 20220213,
 20220212,
 20220211,
 20220210,
 20220209,
 20220208,
 20220207,
 20220206,
 20220205,
 20220204,
 20220203,
 20220202,
 20220201,
 20220131,
 20220130,
 20220129,
 20220128,
 20220127,
 20220126,
 20220125,
 20220124,
 20220123,
 20220122,
 20220121,
 20220120,
 20220119,
 20220118,
 20220117,
 20220116,
 20220115,
 20220114,
 20220113,
 20220112,
 20220111,
 20220110,
 20220109,
 20220108,
 20220107,
 20220106,
 20220105,
 20220104,
 20220103,
 20220102,
 20220101,
 20211231,
 20211230,
 20211229,
 20211228,
 20211227,
 20211226,
 20211225,
 20211224,
 20211223,
 20211222,
 20211221,
 20211220,
 20211219,
 20211218,
 20211217,
 20211216,
 20211215,
 20211214,
 20211213,
 20211212,
 20211211,
 20211210,
 20211209,
 20211208,
 20211207,
 20211206,
 20211205,
 20211204,
 20211203,
 20211202,
 20211201,
 20211130,
 20211129,
 20211128,
 20211127,
 20211126,
 20211125,
 20211124,
 20211123,
 20211122,
 20211121,
 20211120,
 20211119,
 20211118,
 20211117,
 20211116,
 20211115,
 20211114,
 20211113,
 20211112,
 20211111,
 20211110,
 20211109,
 20211108,
 20211107,
 20211106,
 20211105,
 20211104,
 20211103,
 20211102,
 20211101,
 20211031,
 20211030,
 20211029,
 20211028,
 20211027,
 20211026,
 20211025,
 20211024,
 20211023,
 20211022,
 20211021,
 20211020,
 20211019,
 20210720,
 20210719,
 20210718,
 20210717,
 20210716,
 20210715,
 20210714,
 20210713,
 20210712,
 20210711,
 20210710,
 20210709,
 20210708,
 20210707,
 20210706,
 20210705,
 20210704,
 20210703,
 20210702,
 20210701,
 20210630,
 20210629,
 20210628,
 20210627,
 20210626,
 20210625,
 20210624,
 20210623,
 20210622,
 20210621,
 20210620,
 20210619,
 20210618,
 20210617,
 20210616,
 20210615,
 20210614,
 20210613,
 20210612,
 20210611,
 20210610,
 20210609,
 20210608,
 20210607,
 20210606,
 20210605,
 20210604,
 20210603,
 20210602,
 20210601,
 20210531,
 20210530,
 20210529,
 20210528,
 20210527,
 20210526,
 20210525,
 20210524,
 20210523,
 20210522,
 20210521,
 20210520,
 20210519,
 20210518,
 20210517,
 20210516,
 20210515,
 20210514,
 20210513,
 20210512,
 20210511,
 20210510,
 20210509,
 20210508,
 20210507,
 20210506,
 20210505,
 20210504,
 20210503,
 20210502,
 20210501,
 20210430,
 20210429,
 20210428,
 20210427,
 20210426,
 20210425,
 20210424,
 20210423,
 20210422,
 20210421,
 20210420,
 20210419,
 20210418,
 20210417,
 20210416,
 20210415,
 20210414,
 20210413,
 20210412,
 20210411,
 20210410,
 20210409,
 20210408,
 20210407,
 20210406,
 20210405,
 20210404,
 20210403,
 20210402,
 20210401,
 20210331,
 20210330,
 20210329,
 20210328,
 20210327,
 20210326,
 20210325,
 20210324,
 20210323,
 20210322,
 20210321,
 20210320,
 20210319,
 20210318,
 20210317,
 20210316,
 20210315,
 20210314,
 20210313,
 20210312,
 20210311,
 20210310,
 20210309,
 20210308,
 20210307,
 20210306,
 20210305,
 20210304,
 20210303,
 20210302,
 20210301,
 20210228,
 20210227,
 20210226,
 20210225,
 20210224,
 20210223,
 20210222,
 20210221,
 20210220,
 20210219,
 20210218,
 20210217,
 20210216,
 20210215,
 20210214,
 20210213,
 20210212,
 20210211,
 20210210,
 20210209,
 20210208,
 20210207,
 20210206,
 20210205,
 20210204,
 20210203,
 20210202,
 20210201,
 20210131,
 20210130,
 20210129,
 20210128,
 20210127,
 20210126,
 20210125,
 20210124,
 20210123,
 20210122,
 20210121,
 20210120,
 20210119,
 20210118,
 20210117,
 20210116,
 20210115,
 20210114,
 20210113,
 20210112,
 20210111,
 20210110,
 20210109,
 20210108,
 20210107,
 20210106,
 20210105,
 20210104,
 20210103,
 20210102,
 20210101,
 20201231,
 20201230,
 20201229,
 20201228,
 ...]

In [65]:
days_already_tried_adding = []

In [66]:
missing_game_days = list(set(valid_game_days) - set(existing_game_dates_clean) - set(days_already_tried_adding))

In [67]:
missing_game_days.sort(reverse=True)

In [68]:
missing_game_days

[20250108,
 20241224,
 20241218,
 20241128,
 20241105,
 20240616,
 20240615,
 20240613,
 20240611,
 20240610,
 20240608,
 20240607,
 20240605,
 20240604,
 20240603,
 20240602,
 20240601,
 20240531,
 20240529,
 20240520,
 20240418,
 20240415,
 20240413,
 20240408,
 20240221,
 20240220,
 20240219,
 20240218,
 20240217,
 20240216,
 20231224,
 20231210,
 20231203,
 20231123,
 20231107,
 20230618,
 20230617,
 20230616,
 20230615,
 20230614,
 20230613,
 20230611,
 20230610,
 20230608,
 20230606,
 20230605,
 20230603,
 20230602,
 20230531,
 20230530,
 20230528,
 20230526,
 20230524,
 20230515,
 20230513,
 20230413,
 20230410,
 20230403,
 20230222,
 20230221,
 20230220,
 20230219,
 20230218,
 20230217,
 20221224,
 20221124,
 20221108,
 20220615,
 20220614,
 20220612,
 20220611,
 20220609,
 20220607,
 20220606,
 20220604,
 20220603,
 20220601,
 20220531,
 20220530,
 20220528,
 20220516,
 20220514,
 20220505,
 20220430,
 20220414,
 20220411,
 20220404,
 20220223,
 20220222,
 20220221,
 20220220,
 20220219,
 20220218,
 20211224,
 20211125,
 20210720,
 20210719,
 20210718,
 20210717,
 20210716,
 20210715,
 20210714,
 20210713,
 20210712,
 20210711,
 20210710,
 20210709,
 20210708,
 20210707,
 20210706,
 20210705,
 20210704,
 20210703,
 20210702,
 20210701,
 20210621,
 20210517,
 20210309,
 20210308,
 20210307,
 20210306,
 20210305,
 20201224,
 20201011,
 20201010,
 20201009,
 20201008,
 20201007,
 20201006,
 20201005,
 20201004,
 20201003,
 20201002,
 20201001,
 20200930,
 20200929,
 20200928,
 20200927,
 20200926,
 20200925,
 20200924,
 20200923,
 20200922,
 20200921,
 20200920,
 20200919,
 20200918,
 20200917,
 20200916,
 20200915,
 20200914,
 20200913,
 20200912,
 20200911,
 20200910,
 20200909,
 20200908,
 20200907,
 20200906,
 20200905,
 20200904,
 20200903,
 20200902,
 20200901,
 20200831,
 20200830,
 20200829,
 20200828,
 20200827,
 20200826,
 20200825,
 20200824,
 20200823,
 20200822,
 20200821,
 20200820,
 20200819,
 20200818,
 20200817,
 20200816,
 20200815,
 20200814,
 20200813,
 20200812,
 20200811,
 20200810,
 20200809,
 20200808,
 20200807,
 20200806,
 20200805,
 20200804,
 20200803,
 20200802,
 20200801,
 20200731,
 20200730,
 20200729,
 20200728,
 20200727,
 20200726,
 20200725,
 20200724,
 20200723,
 20200722,
 20200721,
 20200720,
 20200719,
 20200718,
 20200717,
 20200716,
 20200715,
 20200714,
 20200713,
 20200712,
 20200711,
 20200710,
 20200709,
 20200708,
 20200707,
 20200706,
 20200705,
 20200704,
 20200703,
 20200702,
 20200701,
 20200630,
 20200629,
 20200628,
 20200627,
 20200626,
 20200625,
 20200624,
 20200623,
 20200622,
 20200621,
 20200620,
 20200619,
 20200618,
 20200617,
 20200616,
 20200615,
 20200614,
 20200613,
 20200612,
 20200611,
 20200610,
 20200609,
 20200608,
 20200607,
 20200606,
 20200605,
 20200604,
 20200603,
 20200602,
 20200601,
 20200531,
 20200530,
 20200529,
 20200528,
 20200527,
 20200526,
 20200525,
 20200524,
 20200523,
 20200522,
 20200521,
 20200520,
 20200519,
 20200518,
 20200517,
 20200516,
 20200515,
 20200514,
 20200513,
 20200512,
 20200511,
 20200510,
 20200509,
 20200508,
 20200507,
 20200506,
 20200505,
 20200504,
 20200503,
 20200502,
 20200501,
 20200430,
 20200429,
 20200428,
 20200427,
 20200426,
 20200425,
 20200424,
 20200423,
 20200422,
 20200421,
 20200420,
 20200419,
 20200418,
 20200417,
 20200416,
 20200415,
 20200414,
 20200413,
 20200412,
 20200411,
 20200410,
 20200409,
 20200408,
 20200407,
 20200406,
 20200405,
 20200404,
 20200403,
 20200402,
 20200401,
 20200331,
 20200330,
 20200329,
 20200328,
 20200327,
 20200326,
 20200325,
 20200324,
 20200323,
 20200322,
 20200321,
 20200320,
 20200319,
 20200318,
 20200317,
 20200316,
 20200315,
 20200314,
 20200313,
 20200312,
 20200311,
 20200310,
 20200309,
 20200308,
 20200307,
 20200306,
 20200305,
 20200304,
 20200303,
 20200302,
 20200301,
 20200229,
 20200228,
 20200227,
 20200226,
 20200225,
 20200224,
 20200223,
 20200222,
 20200221,
 20200220,
 20200219,
 20200218,
 20200217,
 20200216,
 20200215,
 20200214,
 20200213,
 20200212,
 20200211,
 20200210,
 20200209,
 20200208,
 20200207,
 20200206,
 20200205,
 20200204,
 20200203,
 20200202,
 20200201,
 20200131,
 20200130,
 20200129,
 20200128,
 20200127,
 20200126,
 20200125,
 20200124,
 20200123,
 20200122,
 20200121,
 20200120,
 20200119,
 20200118,
 20200117,
 20200116,
 20200115,
 20200114,
 20200113,
 20200112,
 20200111,
 20200110,
 20200109,
 20200108,
 20200107,
 20200106,
 20200105,
 20200104,
 20200103,
 20200102,
 20200101,
 20191231,
 20191230,
 20191229,
 20191228,
 20191227,
 20191226,
 20191225,
 20191224,
 20191223,
 20191222,
 20191221,
 20191220,
 20191219,
 20191218,
 20191217,
 20191216,
 20191215,
 20191214,
 20191213,
 20191212,
 20191211,
 20191210,
 20191209,
 20191208,
 20191207,
 20191206,
 20191205,
 20191204,
 20191203,
 20191202,
 20191201,
 20191130,
 20191129,
 20191128,
 20191127,
 20191126,
 20191125,
 20191124,
 20191123,
 20191122,
 20191121,
 20191120,
 20191119,
 20191118,
 20191117,
 20191116,
 20191115,
 20191114,
 20191113,
 20191112,
 20191111,
 20191110,
 20191109,
 20191108,
 20191107,
 20191106,
 20191105,
 20191104,
 20191103,
 20191102,
 20191101,
 20191031,
 20191030,
 20191029,
 20191028,
 20191027,
 20191026,
 20191025,
 20191024,
 20191023,
 20191022,
 20190612,
 20190611,
 20190609,
 20190608,
 20190606,
 20190604,
 20190603,
 20190601,
 20190531,
 20190529,
 20190528,
 20190527,
 20190526,
 20190524,
 20190522,
 20190513,
 20190511,
 20190412,
 20190411,
 20190408,
 20190220,
 20190219,
 20190218,
 20190217,
 20190216,
 20190215,
 20181224,
 20181122,
 20180607,
 20180605,
 20180604,
 20180602,
 20180601,
 20180530,
 20180529,
 20180518,
 20180517,
 20180512,
 20180511,
 20180510,
 20180413,
 20180412,
 20180402,
 20180221,
 20180220,
 20180219,
 20180218,
 20180217,
 20180216,
 20171224,
 20171123,
 20170611,
 20170610,
 20170608,
 20170606,
 20170605,
 20170603,
 20170602,
 20170531,
 20170530,
 20170529,
 20170528,
 20170527,
 20170526,
 20170524,
 20170518,
 20170513,
 20170429,
 20170414,
 20170413,
 20170222,
 20170221,
 20170220,
 20170219,
 20170218,
 20170217,
 20161224,
 20161124,
 20160618,
 20160617,
 20160615,
 20160614,
 20160612,
 20160611,
 20160609,
 20160607,
 20160606,
 20160604,
 20160603,
 20160601,
 20160531,
 20160529,
 20160520,
 20160514,
 20160415,
 20160414,
 20160404,
 20160217,
 20160216,
 20160215,
 20160214,
 20160213,
 20160212,
 20151224,
 20151126,
 20150615,
 20150613,
 20150612,
 20150610,
 20150608,
 20150606,
 20150605,
 20150603,
 20150602,
 20150601,
 20150531,
 20150530,
 20150529,
 20150528,
 20150518,
 20150516,
 20150507,
 20150417,
 20150416,
 20150218,
 20150217,
 20150216,
 20150215,
 20150214,
 20150213,
 20141224,
 20141127,
 20140614,
 20140613,
 20140611,
 20140609,
 20140607,
 20140606,
 20140604,
 20140603,
 20140602,
 20140601,
 20140523,
 20140522,
 20140517,
 20140516,
 20140418,
 20140417,
 20140407,
 20140217,
 20140216,
 20140215,
 20140214,
 20131224,
 20131128,
 20130619,
 20130617,
 20130615,
 20130614,
 20130612,
 20130610,
 20130608,
 20130607,
 20130605,
 20130604,
 20130602,
 20130531,
 20130529,
 20130523,
 20130520,
 20130517,
 20130509,
 20130419,
 20130418,
 20130408,
 20130218,
 20130217,
 20130216,
 20130215,
 20121224,
 20121122,
 20120621,
 20120620,
 20120619,
 20120618,
 20120617,
 20120616,
 20120615,
 20120614,
 20120613,
 20120612,
 20120611,
 20120610,
 20120609,
 20120608,
 20120607,
 20120606,
 20120605,
 20120604,
 20120603,
 20120602,
 20120601,
 20120531,
 20120530,
 20120529,
 20120528,
 20120527,
 20120526,
 20120525,
 20120524,
 20120523,
 20120522,
 20120521,
 20120520,
 20120519,
 20120518,
 20120517,
 20120516,
 20120515,
 20120514,
 20120513,
 20120512,
 20120511,
 20120510,
 20120509,
 20120508,
 20120507,
 20120506,
 20120505,
 20120504,
 20120503,
 20120502,
 20120501,
 20120430,
 20120429,
 20120428,
 20120427,
 20120426,
 20120425,
 20120424,
 20120423,
 20120422,
 20120421,
 20120420,
 20120419,
 20120418,
 20120417,
 20120416,
 20120415,
 20120414,
 20120413,
 20120412,
 20120411,
 20120410,
 20120409,
 20120408,
 20120407,
 20120406,
 20120405,
 20120404,
 20120403,
 20120402,
 20120401,
 20120331,
 20120330,
 20120329,
 20120328,
 20120327,
 20120326,
 20120325,
 20120324,
 20120323,
 20120322,
 20120321,
 20120320,
 20120319,
 20120318,
 20120317,
 20120316,
 20120315,
 20120314,
 20120313,
 20120312,
 20120311,
 20120310,
 20120309,
 20120308,
 20120307,
 20120306,
 20120305,
 20120304,
 20120303,
 20120302,
 20120301,
 20120229,
 20120228,
 20120227,
 20120226,
 20120225,
 20120224,
 20120223,
 20120222,
 20120221,
 20120220,
 20120219,
 20120218,
 20120217,
 20120216,
 20120215,
 20120214,
 20120213,
 20120212,
 20120211,
 20120210,
 20120209,
 20120208,
 20120207,
 20120206,
 20120205,
 20120204,
 20120203,
 20120202,
 20120201,
 20120131,
 20120130,
 20120129,
 20120128,
 20120127,
 20120126,
 20120125,
 20120124,
 20120123,
 20120122,
 20120121,
 20120120,
 20120119,
 20120118,
 20120117,
 20120116,
 20120115,
 20120114,
 20120113,
 20120112,
 20120111,
 20120110,
 20120109,
 20120108,
 20120107,
 20120106,
 20120105,
 20120104,
 20120103,
 20120102,
 20120101,
 20111231,
 20111230,
 20111229,
 20111228,
 20111227,
 20111226,
 20111225,
 20110612,
 20110611,
 20110610,
 20110609,
 20110608,
 20110607,
 20110606,
 20110605,
 20110604,
 20110603,
 20110602,
 20110601,
 20110531,
 20110530,
 20110529,
 20110528,
 20110527,
 20110526,
 20110525,
 20110524,
 20110523,
 20110522,
 20110521,
 20110520,
 20110519,
 20110518,
 20110517,
 20110516,
 20110515,
 20110514,
 20110513,
 20110512,
 20110511,
 20110510,
 20110509,
 20110508,
 20110507,
 20110506,
 20110505,
 20110504,
 20110503,
 20110502,
 20110501,
 20110430,
 20110429,
 20110428,
 20110427,
 20110426,
 20110425,
 20110424,
 20110423,
 20110422,
 20110421,
 20110420,
 20110419,
 20110418,
 20110417,
 20110416,
 20110415,
 20110414,
 20110413,
 20110412,
 20110411,
 20110410,
 20110409,
 20110408,
 20110407,
 20110406,
 20110405,
 20110404,
 20110403,
 20110402,
 20110401,
 20110331,
 20110330,
 20110329,
 20110328,
 20110327,
 20110326,
 20110325,
 20110324,
 20110323,
 20110322,
 20110321,
 20110320,
 20110319,
 20110318,
 20110317,
 20110316,
 20110315,
 20110314,
 20110313,
 20110312,
 20110311,
 20110310,
 20110309,
 20110308,
 20110307,
 20110306,
 20110305,
 20110304,
 20110303,
 20110302,
 20110301,
 20110228,
 20110227,
 20110226,
 20110225,
 20110224,
 20110223,
 20110222,
 20110221,
 20110220,
 20110219,
 20110218,
 20110217,
 20110216,
 20110215,
 20110214,
 20110213,
 20110212,
 20110211,
 20110210,
 20110209,
 20110208,
 20110207,
 20110206,
 20110205,
 20110204,
 20110203,
 20110202,
 20110201,
 20110131,
 20110130,
 20110129,
 20110128,
 20110127,
 20110126,
 20110125,
 20110124,
 20110123,
 20110122,
 20110121,
 20110120,
 20110119,
 20110118,
 20110117,
 20110116,
 20110115,
 20110114,
 20110113,
 20110112,
 20110111,
 20110110,
 20110109,
 20110108,
 20110107,
 20110106,
 20110105,
 20110104,
 ...]

In [71]:
for day in missing_game_days:
    if day < 20040301:
        try:
            add_game_data_to_db(day)
            days_already_tried_adding.append(day)
            print(" successfully added game data for " + str(day) + " to the database")
        except:
            print(" failed to add game data for " + str(day) + " to the database")

connecting to postgresql database...
Error: duplicate key value violates unique constraint "game_results_pkey"
DETAIL:  Key (id)=(NYKDEN20040229) already exists.

 successfully added game data for 20040229 to the database
connecting to postgresql database...
 successfully added game data for 20040228 to the database
connecting to postgresql database...
Error: duplicate key value violates unique constraint "game_results_pkey"
DETAIL:  Key (id)=(TORBOS20040227) already exists.

 successfully added game data for 20040227 to the database
connecting to postgresql database...
Error: duplicate key value violates unique constraint "game_results_pkey"
DETAIL:  Key (id)=(SASDAL20040226) already exists.

 successfully added game data for 20040226 to the database
connecting to postgresql database...
Error: duplicate key value violates unique constraint "game_results_pkey"
DETAIL:  Key (id)=(MILBOS20040225) already exists.

 successfully added game data for 20040225 to the database
connecting to postgresql database...
 successfully added game data for 20040224 to the database
connecting to postgresql database...
Error: duplicate key value violates unique constraint "game_results_pkey"
DETAIL:  Key (id)=(NOHCLE20040223) already exists.

 successfully added game data for 20040223 to the database
connecting to postgresql database...
Error: duplicate key value violates unique constraint "game_results_pkey"
DETAIL:  Key (id)=(ORLDET20040222) already exists.

 successfully added game data for 20040222 to the database
connecting to postgresql database...
 successfully added game data for 20040221 to the database
connecting to postgresql database...
Error: duplicate key value violates unique constraint "game_results_pkey"
DETAIL:  Key (id)=(SACCHI20040220) already exists.

 successfully added game data for 20040220 to the database
connecting to postgresql database...
Error: duplicate key value violates unique constraint "game_results_pkey"
DETAIL:  Key (id)=(BOSLAC20040219) already exists.

 successfully added game data for 20040219 to the database
connecting to postgresql database...
Error: duplicate key value violates unique constraint "game_results_pkey"
DETAIL:  Key (id)=(DALCLE20040218) already exists.

 successfully added game data for 20040218 to the database
connecting to postgresql database...
 successfully added game data for 20040217 to the database
connecting to postgresql database...
 successfully added game data for 20040216 to the database
connecting to postgresql database...
 successfully added game data for 20040215 to the database
connecting to postgresql database...
 successfully added game data for 20040214 to the database
connecting to postgresql database...
 successfully added game data for 20040213 to the database
connecting to postgresql database...
Error: duplicate key value violates unique constraint "game_results_pkey"
DETAIL:  Key (id)=(BOSCHI20040212) already exists.

 successfully added game data for 20040212 to the database
connecting to postgresql database...
Error: duplicate key value violates unique constraint "game_results_pkey"
DETAIL:  Key (id)=(NJNCLE20040211) already exists.

 successfully added game data for 20040211 to the database
connecting to postgresql database...
Error: duplicate key value violates unique constraint "game_results_pkey"
DETAIL:  Key (id)=(INDCHI20040210) already exists.

 successfully added game data for 20040210 to the database
connecting to postgresql database...
Error: duplicate key value violates unique constraint "game_results_pkey"
DETAIL:  Key (id)=(DALATL20040209) already exists.

 successfully added game data for 20040209 to the database
connecting to postgresql database...
Error: duplicate key value violates unique constraint "game_results_pkey"
DETAIL:  Key (id)=(TORGSW20040208) already exists.

 successfully added game data for 20040208 to the database
connecting to postgresql database...
 successfully added game data for 20040207 to the database
connecting to postgresql database...
Error: duplicate key value violates unique constraint "game_results_pkey"
DETAIL:  Key (id)=(ATLBOS20040206) already exists.

 successfully added game data for 20040206 to the database
connecting to postgresql database...
 successfully added game data for 20040205 to the database
connecting to postgresql database...
Error: duplicate key value violates unique constraint "game_results_pkey"
DETAIL:  Key (id)=(MINATL20040204) already exists.

 successfully added game data for 20040204 to the database
connecting to postgresql database...
Error: duplicate key value violates unique constraint "game_results_pkey"
DETAIL:  Key (id)=(GSWDAL20040203) already exists.

 successfully added game data for 20040203 to the database
connecting to postgresql database...
Error: duplicate key value violates unique constraint "game_results_pkey"
DETAIL:  Key (id)=(LACATL20040202) already exists.

 successfully added game data for 20040202 to the database
connecting to postgresql database...
 successfully added game data for 20040201 to the database
connecting to postgresql database...
 successfully added game data for 20040131 to the database
connecting to postgresql database...
 successfully added game data for 20040130 to the database
connecting to postgresql database...
Error: duplicate key value violates unique constraint "game_results_pkey"
DETAIL:  Key (id)=(PORATL20040129) already exists.

 successfully added game data for 20040129 to the database
connecting to postgresql database...
Error: duplicate key value violates unique constraint "game_results_pkey"
DETAIL:  Key (id)=(DETBOS20040128) already exists.

 successfully added game data for 20040128 to the database
connecting to postgresql database...
Error: duplicate key value violates unique constraint "game_results_pkey"
DETAIL:  Key (id)=(PHOATL20040127) already exists.

 successfully added game data for 20040127 to the database
connecting to postgresql database...
Error: duplicate key value violates unique constraint "game_results_pkey"
DETAIL:  Key (id)=(ORLCLE20040126) already exists.

 successfully added game data for 20040126 to the database
connecting to postgresql database...
Error: duplicate key value violates unique constraint "game_results_pkey"
DETAIL:  Key (id)=(TORCHI20040125) already exists.

 successfully added game data for 20040125 to the database
connecting to postgresql database...
 successfully added game data for 20040124 to the database
connecting to postgresql database...
Error: duplicate key value violates unique constraint "game_results_pkey"
DETAIL:  Key (id)=(NYKATL20040123) already exists.

 successfully added game data for 20040123 to the database
connecting to postgresql database...
Error: duplicate key value violates unique constraint "game_results_pkey"
DETAIL:  Key (id)=(SACCLE20040122) already exists.

 successfully added game data for 20040122 to the database
connecting to postgresql database...
Error: duplicate key value violates unique constraint "game_results_pkey"
DETAIL:  Key (id)=(CHIATL20040121) already exists.

 successfully added game data for 20040121 to the database
connecting to postgresql database...
Error: duplicate key value violates unique constraint "game_results_pkey"
DETAIL:  Key (id)=(SEACLE20040120) already exists.

 successfully added game data for 20040120 to the database
connecting to postgresql database...
Error: duplicate key value violates unique constraint "game_results_pkey"
DETAIL:  Key (id)=(INDATL20040119) already exists.

 successfully added game data for 20040119 to the database
connecting to postgresql database...
Error: duplicate key value violates unique constraint "game_results_pkey"
DETAIL:  Key (id)=(SASBOS20040118) already exists.

 successfully added game data for 20040118 to the database
connecting to postgresql database...
Error: duplicate key value violates unique constraint "game_results_pkey"
DETAIL:  Key (id)=(TORATL20040117) already exists.

 successfully added game data for 20040117 to the database
connecting to postgresql database...
Error: duplicate key value violates unique constraint "game_results_pkey"
DETAIL:  Key (id)=(DALDEN20040116) already exists.

 successfully added game data for 20040116 to the database
connecting to postgresql database...
Error: duplicate key value violates unique constraint "game_results_pkey"
DETAIL:  Key (id)=(CLEGSW20040115) already exists.

 successfully added game data for 20040115 to the database
connecting to postgresql database...
Error: duplicate key value violates unique constraint "game_results_pkey"
DETAIL:  Key (id)=(HOUBOS20040114) already exists.

 successfully added game data for 20040114 to the database
connecting to postgresql database...
Error: duplicate key value violates unique constraint "game_results_pkey"
DETAIL:  Key (id)=(SASATL20040113) already exists.

 successfully added game data for 20040113 to the database
connecting to postgresql database...
Error: duplicate key value violates unique constraint "game_results_pkey"
DETAIL:  Key (id)=(MEMGSW20040112) already exists.

 successfully added game data for 20040112 to the database
connecting to postgresql database...
Error: duplicate key value violates unique constraint "game_results_pkey"
DETAIL:  Key (id)=(DALDET20040111) already exists.

 successfully added game data for 20040111 to the database
connecting to postgresql database...
Error: duplicate key value violates unique constraint "game_results_pkey"
DETAIL:  Key (id)=(NOHCHI20040110) already exists.

 successfully added game data for 20040110 to the database
connecting to postgresql database...
Error: duplicate key value violates unique constraint "game_results_pkey"
DETAIL:  Key (id)=(CLEBOS20040109) already exists.

 successfully added game data for 20040109 to the database
connecting to postgresql database...
Error: duplicate key value violates unique constraint "game_results_pkey"
DETAIL:  Key (id)=(PORMIN20040108) already exists.

 successfully added game data for 20040108 to the database
connecting to postgresql database...
Error: duplicate key value violates unique constraint "game_results_pkey"
DETAIL:  Key (id)=(ORLBOS20040107) already exists.

 successfully added game data for 20040107 to the database
connecting to postgresql database...
Error: duplicate key value violates unique constraint "game_results_pkey"
DETAIL:  Key (id)=(NYKCLE20040106) already exists.

 successfully added game data for 20040106 to the database
connecting to postgresql database...
Error: duplicate key value violates unique constraint "game_results_pkey"
DETAIL:  Key (id)=(DETBOS20040105) already exists.

 successfully added game data for 20040105 to the database
connecting to postgresql database...
Error: duplicate key value violates unique constraint "game_results_pkey"
DETAIL:  Key (id)=(LALLAC20040104) already exists.

 successfully added game data for 20040104 to the database
connecting to postgresql database...
Error: duplicate key value violates unique constraint "game_results_pkey"
DETAIL:  Key (id)=(BOSCHI20040103) already exists.

 successfully added game data for 20040103 to the database
connecting to postgresql database...
Error: duplicate key value violates unique constraint "game_results_pkey"
DETAIL:  Key (id)=(INDBOS20040102) already exists.

 successfully added game data for 20040102 to the database
connecting to postgresql database...
 successfully added game data for 20040101 to the database
connecting to postgresql database...
Error: duplicate key value violates unique constraint "game_results_pkey"
DETAIL:  Key (id)=(NOHBOS20031231) already exists.

 successfully added game data for 20031231 to the database
connecting to postgresql database...
Error: duplicate key value violates unique constraint "game_results_pkey"
DETAIL:  Key (id)=(INDCLE20031230) already exists.

 successfully added game data for 20031230 to the database
connecting to postgresql database...
Error: duplicate key value violates unique constraint "game_results_pkey"
DETAIL:  Key (id)=(MIACHI20031229) already exists.

 successfully added game data for 20031229 to the database
connecting to postgresql database...
Error: duplicate key value violates unique constraint "game_results_pkey"
DETAIL:  Key (id)=(PORCLE20031228) already exists.

 successfully added game data for 20031228 to the database
connecting to postgresql database...
Error: duplicate key value violates unique constraint "game_results_pkey"
DETAIL:  Key (id)=(DETATL20031227) already exists.

 successfully added game data for 20031227 to the database
connecting to postgresql database...
Error: duplicate key value violates unique constraint "game_results_pkey"
DETAIL:  Key (id)=(CHICLE20031226) already exists.

 successfully added game data for 20031226 to the database
connecting to postgresql database...
Error: duplicate key value violates unique constraint "game_results_pkey"
DETAIL:  Key (id)=(HOULAL20031225) already exists.

 successfully added game data for 20031225 to the database
connecting to postgresql database...
 successfully added game data for 20031224 to the database
connecting to postgresql database...
Error: duplicate key value violates unique constraint "game_results_pkey"
DETAIL:  Key (id)=(BOSATL20031223) already exists.

 successfully added game data for 20031223 to the database
connecting to postgresql database...
Error: duplicate key value violates unique constraint "game_results_pkey"
DETAIL:  Key (id)=(UTACHI20031222) already exists.

 successfully added game data for 20031222 to the database
connecting to postgresql database...
Error: duplicate key value violates unique constraint "game_results_pkey"
DETAIL:  Key (id)=(PHIBOS20031221) already exists.

 successfully added game data for 20031221 to the database
connecting to postgresql database...
Error: duplicate key value violates unique constraint "game_results_pkey"
DETAIL:  Key (id)=(CLECHI20031220) already exists.

 successfully added game data for 20031220 to the database
connecting to postgresql database...
Error: duplicate key value violates unique constraint "game_results_pkey"
DETAIL:  Key (id)=(SACATL20031219) already exists.

 successfully added game data for 20031219 to the database
connecting to postgresql database...
Error: duplicate key value violates unique constraint "game_results_pkey"
DETAIL:  Key (id)=(DALMIN20031218) already exists.

 successfully added game data for 20031218 to the database
connecting to postgresql database...
Error: duplicate key value violates unique constraint "game_results_pkey"
DETAIL:  Key (id)=(GSWATL20031217) already exists.

 successfully added game data for 20031217 to the database
connecting to postgresql database...
Error: duplicate key value violates unique constraint "game_results_pkey"
DETAIL:  Key (id)=(ORLCHI20031216) already exists.

 successfully added game data for 20031216 to the database
connecting to postgresql database...
Error: duplicate key value violates unique constraint "game_results_pkey"
DETAIL:  Key (id)=(MINBOS20031215) already exists.

 successfully added game data for 20031215 to the database
connecting to postgresql database...
Error: duplicate key value violates unique constraint "game_results_pkey"
DETAIL:  Key (id)=(WASNYK20031214) already exists.

 successfully added game data for 20031214 to the database
connecting to postgresql database...
Error: duplicate key value violates unique constraint "game_results_pkey"
DETAIL:  Key (id)=(ORLATL20031213) already exists.

 successfully added game data for 20031213 to the database
connecting to postgresql database...
Error: duplicate key value violates unique constraint "game_results_pkey"
DETAIL:  Key (id)=(TORBOS20031212) already exists.

 successfully added game data for 20031212 to the database
connecting to postgresql database...
Error: duplicate key value violates unique constraint "game_results_pkey"
DETAIL:  Key (id)=(DETCLE20031211) already exists.

 successfully added game data for 20031211 to the database
connecting to postgresql database...
Error: duplicate key value violates unique constraint "game_results_pkey"
DETAIL:  Key (id)=(SEABOS20031210) already exists.

 successfully added game data for 20031210 to the database
connecting to postgresql database...
Error: duplicate key value violates unique constraint "game_results_pkey"
DETAIL:  Key (id)=(DENATL20031209) already exists.

 successfully added game data for 20031209 to the database
connecting to postgresql database...
Error: duplicate key value violates unique constraint "game_results_pkey"
DETAIL:  Key (id)=(SASCHI20031208) already exists.

 successfully added game data for 20031208 to the database
connecting to postgresql database...
Error: duplicate key value violates unique constraint "game_results_pkey"
DETAIL:  Key (id)=(BOSDEN20031207) already exists.

 successfully added game data for 20031207 to the database
connecting to postgresql database...
Error: duplicate key value violates unique constraint "game_results_pkey"
DETAIL:  Key (id)=(NOHCHI20031206) already exists.

 successfully added game data for 20031206 to the database
connecting to postgresql database...
Error: duplicate key value violates unique constraint "game_results_pkey"
DETAIL:  Key (id)=(PHOBOS20031205) already exists.

 successfully added game data for 20031205 to the database
connecting to postgresql database...
Error: duplicate key value violates unique constraint "game_results_pkey"
DETAIL:  Key (id)=(LALDAL20031204) already exists.

 successfully added game data for 20031204 to the database
connecting to postgresql database...
Error: duplicate key value violates unique constraint "game_results_pkey"
DETAIL:  Key (id)=(MIADET20031203) already exists.

 successfully added game data for 20031203 to the database
connecting to postgresql database...
Error: duplicate key value violates unique constraint "game_results_pkey"
DETAIL:  Key (id)=(MILATL20031202) already exists.

 successfully added game data for 20031202 to the database
connecting to postgresql database...
Error: duplicate key value violates unique constraint "game_results_pkey"
DETAIL:  Key (id)=(MEMBOS20031201) already exists.

 successfully added game data for 20031201 to the database
connecting to postgresql database...
Error: duplicate key value violates unique constraint "game_results_pkey"
DETAIL:  Key (id)=(INDLAL20031130) already exists.

 successfully added game data for 20031130 to the database
connecting to postgresql database...
Error: duplicate key value violates unique constraint "game_results_pkey"
DETAIL:  Key (id)=(MEMCLE20031129) already exists.

 successfully added game data for 20031129 to the database
connecting to postgresql database...
Error: duplicate key value violates unique constraint "game_results_pkey"
DETAIL:  Key (id)=(MIAATL20031128) already exists.

 successfully added game data for 20031128 to the database
connecting to postgresql database...
Error: duplicate key value violates unique constraint "game_results_pkey"
DETAIL:  Key (id)=(NYKIND20031127) already exists.

 successfully added game data for 20031127 to the database
connecting to postgresql database...
Error: duplicate key value violates unique constraint "game_results_pkey"
DETAIL:  Key (id)=(TORATL20031126) already exists.

 successfully added game data for 20031126 to the database
connecting to postgresql database...
Error: duplicate key value violates unique constraint "game_results_pkey"
DETAIL:  Key (id)=(CHIDAL20031125) already exists.

 successfully added game data for 20031125 to the database
connecting to postgresql database...
Error: duplicate key value violates unique constraint "game_results_pkey"
DETAIL:  Key (id)=(DETATL20031124) already exists.

 successfully added game data for 20031124 to the database
connecting to postgresql database...
Error: duplicate key value violates unique constraint "game_results_pkey"
DETAIL:  Key (id)=(NOHDET20031123) already exists.

 successfully added game data for 20031123 to the database
connecting to postgresql database...

/var/folders/kc/tfm_mmns5096hfr18knr3rp40000gp/T/ipykernel_19474/4121140257.py:23: MarkupResemblesLocatorWarning: The input looks more like a filename than markup. You may want to open this file and pass the filehandle into Beautiful Soup.
  game_on_date_test_soup = BeautifulSoup(games_on_date_test_page.text, 'lxml')

 successfully added game data for 20000117 to the database
connecting to postgresql database...

/var/folders/kc/tfm_mmns5096hfr18knr3rp40000gp/T/ipykernel_19474/4121140257.py:23: MarkupResemblesLocatorWarning: The input looks more like a filename than markup. You may want to open this file and pass the filehandle into Beautiful Soup.
  game_on_date_test_soup = BeautifulSoup(games_on_date_test_page.text, 'lxml')

 successfully added game data for 20000116 to the database
connecting to postgresql database...

/var/folders/kc/tfm_mmns5096hfr18knr3rp40000gp/T/ipykernel_19474/4121140257.py:23: MarkupResemblesLocatorWarning: The input looks more like a filename than markup. You may want to open this file and pass the filehandle into Beautiful Soup.
  game_on_date_test_soup = BeautifulSoup(games_on_date_test_page.text, 'lxml')

 successfully added game data for 20000115 to the database
connecting to postgresql database...

/var/folders/kc/tfm_mmns5096hfr18knr3rp40000gp/T/ipykernel_19474/4121140257.py:23: MarkupResemblesLocatorWarning: The input looks more like a filename than markup. You may want to open this file and pass the filehandle into Beautiful Soup.
  game_on_date_test_soup = BeautifulSoup(games_on_date_test_page.text, 'lxml')

 successfully added game data for 20000114 to the database
connecting to postgresql database...

/var/folders/kc/tfm_mmns5096hfr18knr3rp40000gp/T/ipykernel_19474/4121140257.py:23: MarkupResemblesLocatorWarning: The input looks more like a filename than markup. You may want to open this file and pass the filehandle into Beautiful Soup.
  game_on_date_test_soup = BeautifulSoup(games_on_date_test_page.text, 'lxml')

 successfully added game data for 20000113 to the database
connecting to postgresql database...

/var/folders/kc/tfm_mmns5096hfr18knr3rp40000gp/T/ipykernel_19474/4121140257.py:23: MarkupResemblesLocatorWarning: The input looks more like a filename than markup. You may want to open this file and pass the filehandle into Beautiful Soup.
  game_on_date_test_soup = BeautifulSoup(games_on_date_test_page.text, 'lxml')

 successfully added game data for 20000112 to the database
connecting to postgresql database...

/var/folders/kc/tfm_mmns5096hfr18knr3rp40000gp/T/ipykernel_19474/4121140257.py:23: MarkupResemblesLocatorWarning: The input looks more like a filename than markup. You may want to open this file and pass the filehandle into Beautiful Soup.
  game_on_date_test_soup = BeautifulSoup(games_on_date_test_page.text, 'lxml')

 successfully added game data for 20000111 to the database
connecting to postgresql database...

/var/folders/kc/tfm_mmns5096hfr18knr3rp40000gp/T/ipykernel_19474/4121140257.py:23: MarkupResemblesLocatorWarning: The input looks more like a filename than markup. You may want to open this file and pass the filehandle into Beautiful Soup.
  game_on_date_test_soup = BeautifulSoup(games_on_date_test_page.text, 'lxml')

 successfully added game data for 20000110 to the database
connecting to postgresql database...

/var/folders/kc/tfm_mmns5096hfr18knr3rp40000gp/T/ipykernel_19474/4121140257.py:23: MarkupResemblesLocatorWarning: The input looks more like a filename than markup. You may want to open this file and pass the filehandle into Beautiful Soup.
  game_on_date_test_soup = BeautifulSoup(games_on_date_test_page.text, 'lxml')

 successfully added game data for 20000109 to the database
connecting to postgresql database...

/var/folders/kc/tfm_mmns5096hfr18knr3rp40000gp/T/ipykernel_19474/4121140257.py:23: MarkupResemblesLocatorWarning: The input looks more like a filename than markup. You may want to open this file and pass the filehandle into Beautiful Soup.
  game_on_date_test_soup = BeautifulSoup(games_on_date_test_page.text, 'lxml')

 successfully added game data for 20000108 to the database
connecting to postgresql database...

/var/folders/kc/tfm_mmns5096hfr18knr3rp40000gp/T/ipykernel_19474/4121140257.py:23: MarkupResemblesLocatorWarning: The input looks more like a filename than markup. You may want to open this file and pass the filehandle into Beautiful Soup.
  game_on_date_test_soup = BeautifulSoup(games_on_date_test_page.text, 'lxml')

 successfully added game data for 20000107 to the database
connecting to postgresql database...

/var/folders/kc/tfm_mmns5096hfr18knr3rp40000gp/T/ipykernel_19474/4121140257.py:23: MarkupResemblesLocatorWarning: The input looks more like a filename than markup. You may want to open this file and pass the filehandle into Beautiful Soup.
  game_on_date_test_soup = BeautifulSoup(games_on_date_test_page.text, 'lxml')

 successfully added game data for 20000106 to the database
connecting to postgresql database...

/var/folders/kc/tfm_mmns5096hfr18knr3rp40000gp/T/ipykernel_19474/4121140257.py:23: MarkupResemblesLocatorWarning: The input looks more like a filename than markup. You may want to open this file and pass the filehandle into Beautiful Soup.
  game_on_date_test_soup = BeautifulSoup(games_on_date_test_page.text, 'lxml')

 successfully added game data for 20000105 to the database
connecting to postgresql database...

/var/folders/kc/tfm_mmns5096hfr18knr3rp40000gp/T/ipykernel_19474/4121140257.py:23: MarkupResemblesLocatorWarning: The input looks more like a filename than markup. You may want to open this file and pass the filehandle into Beautiful Soup.
  game_on_date_test_soup = BeautifulSoup(games_on_date_test_page.text, 'lxml')

 successfully added game data for 20000104 to the database
connecting to postgresql database...

/var/folders/kc/tfm_mmns5096hfr18knr3rp40000gp/T/ipykernel_19474/4121140257.py:23: MarkupResemblesLocatorWarning: The input looks more like a filename than markup. You may want to open this file and pass the filehandle into Beautiful Soup.
  game_on_date_test_soup = BeautifulSoup(games_on_date_test_page.text, 'lxml')

 successfully added game data for 20000103 to the database
connecting to postgresql database...

/var/folders/kc/tfm_mmns5096hfr18knr3rp40000gp/T/ipykernel_19474/4121140257.py:23: MarkupResemblesLocatorWarning: The input looks more like a filename than markup. You may want to open this file and pass the filehandle into Beautiful Soup.
  game_on_date_test_soup = BeautifulSoup(games_on_date_test_page.text, 'lxml')

 successfully added game data for 20000102 to the database
connecting to postgresql database...

/var/folders/kc/tfm_mmns5096hfr18knr3rp40000gp/T/ipykernel_19474/4121140257.py:23: MarkupResemblesLocatorWarning: The input looks more like a filename than markup. You may want to open this file and pass the filehandle into Beautiful Soup.
  game_on_date_test_soup = BeautifulSoup(games_on_date_test_page.text, 'lxml')

 successfully added game data for 20000101 to the database
connecting to postgresql database...

/var/folders/kc/tfm_mmns5096hfr18knr3rp40000gp/T/ipykernel_19474/4121140257.py:23: MarkupResemblesLocatorWarning: The input looks more like a filename than markup. You may want to open this file and pass the filehandle into Beautiful Soup.
  game_on_date_test_soup = BeautifulSoup(games_on_date_test_page.text, 'lxml')

 successfully added game data for 19991231 to the database
connecting to postgresql database...

/var/folders/kc/tfm_mmns5096hfr18knr3rp40000gp/T/ipykernel_19474/4121140257.py:23: MarkupResemblesLocatorWarning: The input looks more like a filename than markup. You may want to open this file and pass the filehandle into Beautiful Soup.
  game_on_date_test_soup = BeautifulSoup(games_on_date_test_page.text, 'lxml')

 successfully added game data for 19991230 to the database
connecting to postgresql database...

/var/folders/kc/tfm_mmns5096hfr18knr3rp40000gp/T/ipykernel_19474/4121140257.py:23: MarkupResemblesLocatorWarning: The input looks more like a filename than markup. You may want to open this file and pass the filehandle into Beautiful Soup.
  game_on_date_test_soup = BeautifulSoup(games_on_date_test_page.text, 'lxml')

 successfully added game data for 19991229 to the database
connecting to postgresql database...

/var/folders/kc/tfm_mmns5096hfr18knr3rp40000gp/T/ipykernel_19474/4121140257.py:23: MarkupResemblesLocatorWarning: The input looks more like a filename than markup. You may want to open this file and pass the filehandle into Beautiful Soup.
  game_on_date_test_soup = BeautifulSoup(games_on_date_test_page.text, 'lxml')

 successfully added game data for 19991228 to the database
connecting to postgresql database...

/var/folders/kc/tfm_mmns5096hfr18knr3rp40000gp/T/ipykernel_19474/4121140257.py:23: MarkupResemblesLocatorWarning: The input looks more like a filename than markup. You may want to open this file and pass the filehandle into Beautiful Soup.
  game_on_date_test_soup = BeautifulSoup(games_on_date_test_page.text, 'lxml')

 successfully added game data for 19991227 to the database
connecting to postgresql database...

/var/folders/kc/tfm_mmns5096hfr18knr3rp40000gp/T/ipykernel_19474/4121140257.py:23: MarkupResemblesLocatorWarning: The input looks more like a filename than markup. You may want to open this file and pass the filehandle into Beautiful Soup.
  game_on_date_test_soup = BeautifulSoup(games_on_date_test_page.text, 'lxml')

 successfully added game data for 19991226 to the database
connecting to postgresql database...

/var/folders/kc/tfm_mmns5096hfr18knr3rp40000gp/T/ipykernel_19474/4121140257.py:23: MarkupResemblesLocatorWarning: The input looks more like a filename than markup. You may want to open this file and pass the filehandle into Beautiful Soup.
  game_on_date_test_soup = BeautifulSoup(games_on_date_test_page.text, 'lxml')

 successfully added game data for 19991225 to the database
connecting to postgresql database...

/var/folders/kc/tfm_mmns5096hfr18knr3rp40000gp/T/ipykernel_19474/4121140257.py:23: MarkupResemblesLocatorWarning: The input looks more like a filename than markup. You may want to open this file and pass the filehandle into Beautiful Soup.
  game_on_date_test_soup = BeautifulSoup(games_on_date_test_page.text, 'lxml')

 successfully added game data for 19991224 to the database
connecting to postgresql database...

/var/folders/kc/tfm_mmns5096hfr18knr3rp40000gp/T/ipykernel_19474/4121140257.py:23: MarkupResemblesLocatorWarning: The input looks more like a filename than markup. You may want to open this file and pass the filehandle into Beautiful Soup.
  game_on_date_test_soup = BeautifulSoup(games_on_date_test_page.text, 'lxml')

 successfully added game data for 19991223 to the database
connecting to postgresql database...

/var/folders/kc/tfm_mmns5096hfr18knr3rp40000gp/T/ipykernel_19474/4121140257.py:23: MarkupResemblesLocatorWarning: The input looks more like a filename than markup. You may want to open this file and pass the filehandle into Beautiful Soup.
  game_on_date_test_soup = BeautifulSoup(games_on_date_test_page.text, 'lxml')

 successfully added game data for 19991222 to the database
connecting to postgresql database...

/var/folders/kc/tfm_mmns5096hfr18knr3rp40000gp/T/ipykernel_19474/4121140257.py:23: MarkupResemblesLocatorWarning: The input looks more like a filename than markup. You may want to open this file and pass the filehandle into Beautiful Soup.
  game_on_date_test_soup = BeautifulSoup(games_on_date_test_page.text, 'lxml')

 successfully added game data for 19991221 to the database
connecting to postgresql database...

/var/folders/kc/tfm_mmns5096hfr18knr3rp40000gp/T/ipykernel_19474/4121140257.py:23: MarkupResemblesLocatorWarning: The input looks more like a filename than markup. You may want to open this file and pass the filehandle into Beautiful Soup.
  game_on_date_test_soup = BeautifulSoup(games_on_date_test_page.text, 'lxml')

 successfully added game data for 19991220 to the database
connecting to postgresql database...

/var/folders/kc/tfm_mmns5096hfr18knr3rp40000gp/T/ipykernel_19474/4121140257.py:23: MarkupResemblesLocatorWarning: The input looks more like a filename than markup. You may want to open this file and pass the filehandle into Beautiful Soup.
  game_on_date_test_soup = BeautifulSoup(games_on_date_test_page.text, 'lxml')

 successfully added game data for 19991219 to the database
connecting to postgresql database...

/var/folders/kc/tfm_mmns5096hfr18knr3rp40000gp/T/ipykernel_19474/4121140257.py:23: MarkupResemblesLocatorWarning: The input looks more like a filename than markup. You may want to open this file and pass the filehandle into Beautiful Soup.
  game_on_date_test_soup = BeautifulSoup(games_on_date_test_page.text, 'lxml')

 successfully added game data for 19991218 to the database
connecting to postgresql database...

/var/folders/kc/tfm_mmns5096hfr18knr3rp40000gp/T/ipykernel_19474/4121140257.py:23: MarkupResemblesLocatorWarning: The input looks more like a filename than markup. You may want to open this file and pass the filehandle into Beautiful Soup.
  game_on_date_test_soup = BeautifulSoup(games_on_date_test_page.text, 'lxml')

 successfully added game data for 19991217 to the database
connecting to postgresql database...

/var/folders/kc/tfm_mmns5096hfr18knr3rp40000gp/T/ipykernel_19474/4121140257.py:23: MarkupResemblesLocatorWarning: The input looks more like a filename than markup. You may want to open this file and pass the filehandle into Beautiful Soup.
  game_on_date_test_soup = BeautifulSoup(games_on_date_test_page.text, 'lxml')

 successfully added game data for 19991216 to the database
connecting to postgresql database...

/var/folders/kc/tfm_mmns5096hfr18knr3rp40000gp/T/ipykernel_19474/4121140257.py:23: MarkupResemblesLocatorWarning: The input looks more like a filename than markup. You may want to open this file and pass the filehandle into Beautiful Soup.
  game_on_date_test_soup = BeautifulSoup(games_on_date_test_page.text, 'lxml')

 successfully added game data for 19991215 to the database
connecting to postgresql database...

/var/folders/kc/tfm_mmns5096hfr18knr3rp40000gp/T/ipykernel_19474/4121140257.py:23: MarkupResemblesLocatorWarning: The input looks more like a filename than markup. You may want to open this file and pass the filehandle into Beautiful Soup.
  game_on_date_test_soup = BeautifulSoup(games_on_date_test_page.text, 'lxml')

 successfully added game data for 19991214 to the database
connecting to postgresql database...

/var/folders/kc/tfm_mmns5096hfr18knr3rp40000gp/T/ipykernel_19474/4121140257.py:23: MarkupResemblesLocatorWarning: The input looks more like a filename than markup. You may want to open this file and pass the filehandle into Beautiful Soup.
  game_on_date_test_soup = BeautifulSoup(games_on_date_test_page.text, 'lxml')

 successfully added game data for 19991213 to the database
connecting to postgresql database...

/var/folders/kc/tfm_mmns5096hfr18knr3rp40000gp/T/ipykernel_19474/4121140257.py:23: MarkupResemblesLocatorWarning: The input looks more like a filename than markup. You may want to open this file and pass the filehandle into Beautiful Soup.
  game_on_date_test_soup = BeautifulSoup(games_on_date_test_page.text, 'lxml')

 successfully added game data for 19991212 to the database
connecting to postgresql database...

/var/folders/kc/tfm_mmns5096hfr18knr3rp40000gp/T/ipykernel_19474/4121140257.py:23: MarkupResemblesLocatorWarning: The input looks more like a filename than markup. You may want to open this file and pass the filehandle into Beautiful Soup.
  game_on_date_test_soup = BeautifulSoup(games_on_date_test_page.text, 'lxml')

 successfully added game data for 19991211 to the database
connecting to postgresql database...

/var/folders/kc/tfm_mmns5096hfr18knr3rp40000gp/T/ipykernel_19474/4121140257.py:23: MarkupResemblesLocatorWarning: The input looks more like a filename than markup. You may want to open this file and pass the filehandle into Beautiful Soup.
  game_on_date_test_soup = BeautifulSoup(games_on_date_test_page.text, 'lxml')

 successfully added game data for 19991210 to the database
connecting to postgresql database...

/var/folders/kc/tfm_mmns5096hfr18knr3rp40000gp/T/ipykernel_19474/4121140257.py:23: MarkupResemblesLocatorWarning: The input looks more like a filename than markup. You may want to open this file and pass the filehandle into Beautiful Soup.
  game_on_date_test_soup = BeautifulSoup(games_on_date_test_page.text, 'lxml')

 successfully added game data for 19991209 to the database
connecting to postgresql database...

/var/folders/kc/tfm_mmns5096hfr18knr3rp40000gp/T/ipykernel_19474/4121140257.py:23: MarkupResemblesLocatorWarning: The input looks more like a filename than markup. You may want to open this file and pass the filehandle into Beautiful Soup.
  game_on_date_test_soup = BeautifulSoup(games_on_date_test_page.text, 'lxml')

 successfully added game data for 19991208 to the database
connecting to postgresql database...

/var/folders/kc/tfm_mmns5096hfr18knr3rp40000gp/T/ipykernel_19474/4121140257.py:23: MarkupResemblesLocatorWarning: The input looks more like a filename than markup. You may want to open this file and pass the filehandle into Beautiful Soup.
  game_on_date_test_soup = BeautifulSoup(games_on_date_test_page.text, 'lxml')

 successfully added game data for 19991207 to the database
connecting to postgresql database...

/var/folders/kc/tfm_mmns5096hfr18knr3rp40000gp/T/ipykernel_19474/4121140257.py:23: MarkupResemblesLocatorWarning: The input looks more like a filename than markup. You may want to open this file and pass the filehandle into Beautiful Soup.
  game_on_date_test_soup = BeautifulSoup(games_on_date_test_page.text, 'lxml')

 successfully added game data for 19991206 to the database
connecting to postgresql database...

/var/folders/kc/tfm_mmns5096hfr18knr3rp40000gp/T/ipykernel_19474/4121140257.py:23: MarkupResemblesLocatorWarning: The input looks more like a filename than markup. You may want to open this file and pass the filehandle into Beautiful Soup.
  game_on_date_test_soup = BeautifulSoup(games_on_date_test_page.text, 'lxml')

 successfully added game data for 19991205 to the database
connecting to postgresql database...

/var/folders/kc/tfm_mmns5096hfr18knr3rp40000gp/T/ipykernel_19474/4121140257.py:23: MarkupResemblesLocatorWarning: The input looks more like a filename than markup. You may want to open this file and pass the filehandle into Beautiful Soup.
  game_on_date_test_soup = BeautifulSoup(games_on_date_test_page.text, 'lxml')

 successfully added game data for 19991204 to the database
connecting to postgresql database...

/var/folders/kc/tfm_mmns5096hfr18knr3rp40000gp/T/ipykernel_19474/4121140257.py:23: MarkupResemblesLocatorWarning: The input looks more like a filename than markup. You may want to open this file and pass the filehandle into Beautiful Soup.
  game_on_date_test_soup = BeautifulSoup(games_on_date_test_page.text, 'lxml')

 successfully added game data for 19991203 to the database
connecting to postgresql database...

/var/folders/kc/tfm_mmns5096hfr18knr3rp40000gp/T/ipykernel_19474/4121140257.py:23: MarkupResemblesLocatorWarning: The input looks more like a filename than markup. You may want to open this file and pass the filehandle into Beautiful Soup.
  game_on_date_test_soup = BeautifulSoup(games_on_date_test_page.text, 'lxml')

 successfully added game data for 19991202 to the database
connecting to postgresql database...

/var/folders/kc/tfm_mmns5096hfr18knr3rp40000gp/T/ipykernel_19474/4121140257.py:23: MarkupResemblesLocatorWarning: The input looks more like a filename than markup. You may want to open this file and pass the filehandle into Beautiful Soup.
  game_on_date_test_soup = BeautifulSoup(games_on_date_test_page.text, 'lxml')

 successfully added game data for 19991201 to the database
connecting to postgresql database...

/var/folders/kc/tfm_mmns5096hfr18knr3rp40000gp/T/ipykernel_19474/4121140257.py:23: MarkupResemblesLocatorWarning: The input looks more like a filename than markup. You may want to open this file and pass the filehandle into Beautiful Soup.
  game_on_date_test_soup = BeautifulSoup(games_on_date_test_page.text, 'lxml')

 successfully added game data for 19991130 to the database
connecting to postgresql database...

/var/folders/kc/tfm_mmns5096hfr18knr3rp40000gp/T/ipykernel_19474/4121140257.py:23: MarkupResemblesLocatorWarning: The input looks more like a filename than markup. You may want to open this file and pass the filehandle into Beautiful Soup.
  game_on_date_test_soup = BeautifulSoup(games_on_date_test_page.text, 'lxml')

 successfully added game data for 19991129 to the database
connecting to postgresql database...

/var/folders/kc/tfm_mmns5096hfr18knr3rp40000gp/T/ipykernel_19474/4121140257.py:23: MarkupResemblesLocatorWarning: The input looks more like a filename than markup. You may want to open this file and pass the filehandle into Beautiful Soup.
  game_on_date_test_soup = BeautifulSoup(games_on_date_test_page.text, 'lxml')

 successfully added game data for 19991128 to the database
connecting to postgresql database...

/var/folders/kc/tfm_mmns5096hfr18knr3rp40000gp/T/ipykernel_19474/4121140257.py:23: MarkupResemblesLocatorWarning: The input looks more like a filename than markup. You may want to open this file and pass the filehandle into Beautiful Soup.
  game_on_date_test_soup = BeautifulSoup(games_on_date_test_page.text, 'lxml')

 successfully added game data for 19991127 to the database
connecting to postgresql database...

/var/folders/kc/tfm_mmns5096hfr18knr3rp40000gp/T/ipykernel_19474/4121140257.py:23: MarkupResemblesLocatorWarning: The input looks more like a filename than markup. You may want to open this file and pass the filehandle into Beautiful Soup.
  game_on_date_test_soup = BeautifulSoup(games_on_date_test_page.text, 'lxml')

 successfully added game data for 19991126 to the database
connecting to postgresql database...

/var/folders/kc/tfm_mmns5096hfr18knr3rp40000gp/T/ipykernel_19474/4121140257.py:23: MarkupResemblesLocatorWarning: The input looks more like a filename than markup. You may want to open this file and pass the filehandle into Beautiful Soup.
  game_on_date_test_soup = BeautifulSoup(games_on_date_test_page.text, 'lxml')

 successfully added game data for 19991125 to the database
connecting to postgresql database...

/var/folders/kc/tfm_mmns5096hfr18knr3rp40000gp/T/ipykernel_19474/4121140257.py:23: MarkupResemblesLocatorWarning: The input looks more like a filename than markup. You may want to open this file and pass the filehandle into Beautiful Soup.
  game_on_date_test_soup = BeautifulSoup(games_on_date_test_page.text, 'lxml')

 successfully added game data for 19991124 to the database
connecting to postgresql database...

/var/folders/kc/tfm_mmns5096hfr18knr3rp40000gp/T/ipykernel_19474/4121140257.py:23: MarkupResemblesLocatorWarning: The input looks more like a filename than markup. You may want to open this file and pass the filehandle into Beautiful Soup.
  game_on_date_test_soup = BeautifulSoup(games_on_date_test_page.text, 'lxml')

 successfully added game data for 19991123 to the database
connecting to postgresql database...

/var/folders/kc/tfm_mmns5096hfr18knr3rp40000gp/T/ipykernel_19474/4121140257.py:23: MarkupResemblesLocatorWarning: The input looks more like a filename than markup. You may want to open this file and pass the filehandle into Beautiful Soup.
  game_on_date_test_soup = BeautifulSoup(games_on_date_test_page.text, 'lxml')

 successfully added game data for 19991122 to the database
connecting to postgresql database...

/var/folders/kc/tfm_mmns5096hfr18knr3rp40000gp/T/ipykernel_19474/4121140257.py:23: MarkupResemblesLocatorWarning: The input looks more like a filename than markup. You may want to open this file and pass the filehandle into Beautiful Soup.
  game_on_date_test_soup = BeautifulSoup(games_on_date_test_page.text, 'lxml')

 successfully added game data for 19991121 to the database
connecting to postgresql database...

/var/folders/kc/tfm_mmns5096hfr18knr3rp40000gp/T/ipykernel_19474/4121140257.py:23: MarkupResemblesLocatorWarning: The input looks more like a filename than markup. You may want to open this file and pass the filehandle into Beautiful Soup.
  game_on_date_test_soup = BeautifulSoup(games_on_date_test_page.text, 'lxml')

 successfully added game data for 19991120 to the database
connecting to postgresql database...

/var/folders/kc/tfm_mmns5096hfr18knr3rp40000gp/T/ipykernel_19474/4121140257.py:23: MarkupResemblesLocatorWarning: The input looks more like a filename than markup. You may want to open this file and pass the filehandle into Beautiful Soup.
  game_on_date_test_soup = BeautifulSoup(games_on_date_test_page.text, 'lxml')

 successfully added game data for 19991119 to the database
connecting to postgresql database...

/var/folders/kc/tfm_mmns5096hfr18knr3rp40000gp/T/ipykernel_19474/4121140257.py:23: MarkupResemblesLocatorWarning: The input looks more like a filename than markup. You may want to open this file and pass the filehandle into Beautiful Soup.
  game_on_date_test_soup = BeautifulSoup(games_on_date_test_page.text, 'lxml')

 successfully added game data for 19991118 to the database
connecting to postgresql database...

/var/folders/kc/tfm_mmns5096hfr18knr3rp40000gp/T/ipykernel_19474/4121140257.py:23: MarkupResemblesLocatorWarning: The input looks more like a filename than markup. You may want to open this file and pass the filehandle into Beautiful Soup.
  game_on_date_test_soup = BeautifulSoup(games_on_date_test_page.text, 'lxml')

 successfully added game data for 19991117 to the database
connecting to postgresql database...

/var/folders/kc/tfm_mmns5096hfr18knr3rp40000gp/T/ipykernel_19474/4121140257.py:23: MarkupResemblesLocatorWarning: The input looks more like a filename than markup. You may want to open this file and pass the filehandle into Beautiful Soup.
  game_on_date_test_soup = BeautifulSoup(games_on_date_test_page.text, 'lxml')

 successfully added game data for 19991116 to the database
connecting to postgresql database...

/var/folders/kc/tfm_mmns5096hfr18knr3rp40000gp/T/ipykernel_19474/4121140257.py:23: MarkupResemblesLocatorWarning: The input looks more like a filename than markup. You may want to open this file and pass the filehandle into Beautiful Soup.
  game_on_date_test_soup = BeautifulSoup(games_on_date_test_page.text, 'lxml')

 successfully added game data for 19991115 to the database
connecting to postgresql database...

/var/folders/kc/tfm_mmns5096hfr18knr3rp40000gp/T/ipykernel_19474/4121140257.py:23: MarkupResemblesLocatorWarning: The input looks more like a filename than markup. You may want to open this file and pass the filehandle into Beautiful Soup.
  game_on_date_test_soup = BeautifulSoup(games_on_date_test_page.text, 'lxml')

 successfully added game data for 19991114 to the database
connecting to postgresql database...

/var/folders/kc/tfm_mmns5096hfr18knr3rp40000gp/T/ipykernel_19474/4121140257.py:23: MarkupResemblesLocatorWarning: The input looks more like a filename than markup. You may want to open this file and pass the filehandle into Beautiful Soup.
  game_on_date_test_soup = BeautifulSoup(games_on_date_test_page.text, 'lxml')

 successfully added game data for 19991113 to the database
connecting to postgresql database...

/var/folders/kc/tfm_mmns5096hfr18knr3rp40000gp/T/ipykernel_19474/4121140257.py:23: MarkupResemblesLocatorWarning: The input looks more like a filename than markup. You may want to open this file and pass the filehandle into Beautiful Soup.
  game_on_date_test_soup = BeautifulSoup(games_on_date_test_page.text, 'lxml')

 successfully added game data for 19991112 to the database
connecting to postgresql database...

/var/folders/kc/tfm_mmns5096hfr18knr3rp40000gp/T/ipykernel_19474/4121140257.py:23: MarkupResemblesLocatorWarning: The input looks more like a filename than markup. You may want to open this file and pass the filehandle into Beautiful Soup.
  game_on_date_test_soup = BeautifulSoup(games_on_date_test_page.text, 'lxml')

 successfully added game data for 19991111 to the database
connecting to postgresql database...

/var/folders/kc/tfm_mmns5096hfr18knr3rp40000gp/T/ipykernel_19474/4121140257.py:23: MarkupResemblesLocatorWarning: The input looks more like a filename than markup. You may want to open this file and pass the filehandle into Beautiful Soup.
  game_on_date_test_soup = BeautifulSoup(games_on_date_test_page.text, 'lxml')

 successfully added game data for 19991110 to the database
connecting to postgresql database...

/var/folders/kc/tfm_mmns5096hfr18knr3rp40000gp/T/ipykernel_19474/4121140257.py:23: MarkupResemblesLocatorWarning: The input looks more like a filename than markup. You may want to open this file and pass the filehandle into Beautiful Soup.
  game_on_date_test_soup = BeautifulSoup(games_on_date_test_page.text, 'lxml')

 successfully added game data for 19991109 to the database
connecting to postgresql database...

/var/folders/kc/tfm_mmns5096hfr18knr3rp40000gp/T/ipykernel_19474/4121140257.py:23: MarkupResemblesLocatorWarning: The input looks more like a filename than markup. You may want to open this file and pass the filehandle into Beautiful Soup.
  game_on_date_test_soup = BeautifulSoup(games_on_date_test_page.text, 'lxml')

 successfully added game data for 19991108 to the database
connecting to postgresql database...

/var/folders/kc/tfm_mmns5096hfr18knr3rp40000gp/T/ipykernel_19474/4121140257.py:23: MarkupResemblesLocatorWarning: The input looks more like a filename than markup. You may want to open this file and pass the filehandle into Beautiful Soup.
  game_on_date_test_soup = BeautifulSoup(games_on_date_test_page.text, 'lxml')

 successfully added game data for 19991107 to the database
connecting to postgresql database...

/var/folders/kc/tfm_mmns5096hfr18knr3rp40000gp/T/ipykernel_19474/4121140257.py:23: MarkupResemblesLocatorWarning: The input looks more like a filename than markup. You may want to open this file and pass the filehandle into Beautiful Soup.
  game_on_date_test_soup = BeautifulSoup(games_on_date_test_page.text, 'lxml')

 successfully added game data for 19991106 to the database
connecting to postgresql database...

/var/folders/kc/tfm_mmns5096hfr18knr3rp40000gp/T/ipykernel_19474/4121140257.py:23: MarkupResemblesLocatorWarning: The input looks more like a filename than markup. You may want to open this file and pass the filehandle into Beautiful Soup.
  game_on_date_test_soup = BeautifulSoup(games_on_date_test_page.text, 'lxml')

 successfully added game data for 19991105 to the database
connecting to postgresql database...

/var/folders/kc/tfm_mmns5096hfr18knr3rp40000gp/T/ipykernel_19474/4121140257.py:23: MarkupResemblesLocatorWarning: The input looks more like a filename than markup. You may want to open this file and pass the filehandle into Beautiful Soup.
  game_on_date_test_soup = BeautifulSoup(games_on_date_test_page.text, 'lxml')

 successfully added game data for 19991104 to the database
connecting to postgresql database...

/var/folders/kc/tfm_mmns5096hfr18knr3rp40000gp/T/ipykernel_19474/4121140257.py:23: MarkupResemblesLocatorWarning: The input looks more like a filename than markup. You may want to open this file and pass the filehandle into Beautiful Soup.
  game_on_date_test_soup = BeautifulSoup(games_on_date_test_page.text, 'lxml')

 successfully added game data for 19991103 to the database
connecting to postgresql database...

/var/folders/kc/tfm_mmns5096hfr18knr3rp40000gp/T/ipykernel_19474/4121140257.py:23: MarkupResemblesLocatorWarning: The input looks more like a filename than markup. You may want to open this file and pass the filehandle into Beautiful Soup.
  game_on_date_test_soup = BeautifulSoup(games_on_date_test_page.text, 'lxml')

 successfully added game data for 19991102 to the database
connecting to postgresql database...

/var/folders/kc/tfm_mmns5096hfr18knr3rp40000gp/T/ipykernel_19474/4121140257.py:23: MarkupResemblesLocatorWarning: The input looks more like a filename than markup. You may want to open this file and pass the filehandle into Beautiful Soup.
  game_on_date_test_soup = BeautifulSoup(games_on_date_test_page.text, 'lxml')

 successfully added game data for 19991101 to the database
connecting to postgresql database...
 successfully added game data for 19991031 to the database

/var/folders/kc/tfm_mmns5096hfr18knr3rp40000gp/T/ipykernel_19474/4121140257.py:23: MarkupResemblesLocatorWarning: The input looks more like a filename than markup. You may want to open this file and pass the filehandle into Beautiful Soup.
  game_on_date_test_soup = BeautifulSoup(games_on_date_test_page.text, 'lxml')

In [1]:
get_game_results('20240923')

NameError: name 'get_game_results' is not defined

Empty DataFrame
Columns: [id, visitor, home, dates, visitor_score, home_score]
Index: []

In [ ]:
#todo

#create a list of all valid days in format yyyy/mm/dd

#create a table of playoff start and end dates (do this for the regular season too if needed)

#look into parsing additional (more granular) game data

In [33]:
def copy_from_stringio(conn, df, table):
    """
    Here we are going save the dataframe in memory 
    and use copy_from() to copy it to the table
    """
    # save dataframe to an in memory buffer
    buffer = io.StringIO()
    df.to_csv(buffer, index_label='id', header=False)
    buffer.seek(0)
    
    cursor = conn.cursor()
    try:
        cursor.copy_from(buffer, table, sep=",")
        conn.commit()
    except (Exception, psycopg2.DatabaseError) as error:
        
        print("Error: %s" % error)
        conn.rollback()
        cursor.close()
        return 1
    print("copy_from_stringio() done")
    cursor.close()

In [34]:
copy_from_stringio(connect(), final_df, 'game_results')

connecting to postgresql database...
copy_from_file() done
database connection terminated

AttributeError: 'NoneType' object has no attribute 'cursor'